[2017-06-22 13:52] hendrikebbers opened #538 "base package for class path must be list property"

[2017-06-23 06:42] hendrikebbers opened #539 "Provide session filter for all but my session"
We should provide a default imply for the session filter that sends messages to all but my sessions

[2017-06-23 06:44] hendrikebbers commented on #248
test 123

[2017-06-23 06:46] hendrikebbers commented on #221
Hi @davidyee the plan is to do it like this:

the server will hold the state for some time. If the client reconnects in that time frame the old state will be reused. This means that nothing happens in that time on the client (otherwise you would have a conflict). After a specified timeout the server will destroy the session and only a new connection is working.

[2017-06-23 06:47] hendrikebbers commented on #221
To make this clear: this behavior is not part of DP at the moment. That is what we want to have for version 1.0

[2017-06-23 13:59] hendrikebbers opened #540 "Error for sending UTF-8 chars as values"
Looks like we have a bug in 0.15.0 about UTF-8 encoding. BugFix and UnitTest will be provided.

[2017-06-25 11:17] joha78 opened #542 "Error when calling an DolphinAction with null param value"
Hi team, with v0.15.0 a call like this, kills the session:

invoke("action2",new Param("firstArg",null));

The problem is located in class ValueEncoder; setting a breakpoint in the last line of encodeValue() helps. I am not exactly sure, but think there is an explicit handling for value == null missing.

 static JsonElement encodeValue(Object value) {
        if (value instanceof String) {

[2017-06-26 09:05] hendrikebbers commented on #542
#543

[2017-06-28 10:50] timo0 commented on #536
https://join-dolphin-platform-slack.herokuapp.com deployed

[2017-06-28 19:42] timo0 opened #544 "Serialisation of null values optionals"
Currently the Json contains null values. this is not needed. To save bandwidth we should do this conditional on a property since this can very helpfully for debug purposes

(Hint OptimizedJsonCodec)

[2017-06-28 19:48] timo0 opened #545 "DP throws "Can not connect client context!" also on spring startup failure"
If the Spring startup fails DP throws
[code]
also if the Spring bootstrap fails. In that case is the real problems in the cause and not the root exception.

[2017-06-28 19:51] #534 closed

[2017-06-28 19:51] #540 closed

[2017-06-28 19:52] #542 closed

[2017-06-28 20:10] #529 closed

[2017-06-30 09:28] hendrikebbers opened #546 "rename rpm packages to remoting"

[2017-07-04 06:26] hendrikebbers opened #549 "Auth for Github pages broken"
Currently the documentation is not deployed automatically based on broken credentials for github login

[2017-07-04 07:50] #489 closed

[2017-07-04 07:50] #536 closed

[2017-07-04 07:50] #530 closed

[2017-07-04 07:50] #511 closed

[2017-07-04 07:50] #520 closed

[2017-07-04 07:51] hendrikebbers opened #550 "Provide HTTP client in Dolphin Platform client API"
The client should support client session & security by default

[2017-07-04 07:51] hendrikebbers commented on #420
This will be better for your case: https://github.com/canoo/dolphin-platform/issues/550

[2017-07-04 07:51] #420 closed

[2017-07-04 11:39] joha78 opened #551 "Double.NEGATIVE_INFINITY produces ClassCastException in Property<Double> binding"
I am storing Double.NEGATIVE_INFINITY (that’s a double) in Property<Double>  which gives me an ClassCastException in the Binder: ClassCastException: java.lang.String cannot be cast to java.lang.Number.  Strange is, the internal value is actually a String with value “-Infinity” if I debug the binding.

[2017-07-04 15:41] hendrikebbers commented on #551
We Need to Check how infinity is defined in JS

[2017-07-05 13:55] hendrikebbers opened #552 "provide RemotingContext.getClientSession() method"
Currently you need to inject the `RemotingContext` and the `ClientSession` if you need both. The `RemotingContext` could provide a `getClientSession()` method to make this more easy.

[2017-07-05 15:42] blackdrag opened #553 "dolphinPlatform.hazelcast.group.name is ignored"
it is no longer possible to configure the hazelcast group name using the application.properties, resulting in an unusable distributed eventbus without a dolphin.properties file

[2017-07-05 16:32] hendrikebbers opened #554 "DolphinEventBus must be useable before bootstrap is done"
Since the eventbus can be used in any managed class it must be supported to inject it in a Spring managed bean before the Dolphin Platform bootstrap has been done.

[2017-07-06 14:32] hendrikebbers opened #557 "Integration-Tests not running based on Travis issue"
see https://github.com/travis-ci/travis-ci/issues/6461

[2017-07-06 15:30] hendrikebbers commented on #557
See https://github.com/alenkacz/gradle-marathon-deployer/blob/master/.travis.yml

[2017-07-07 06:24] hendrikebbers commented on #551
see https://google.github.io/gson/apidocs/com/google/gson/GsonBuilder.html#serializeSpecialFloatingPointValues--

[2017-07-07 08:33] hendrikebbers opened #559 "Encoding problem with docker"
Currently 1 integration test that was added for 0.16.0 is broken based on an encoding error:

[code]
Locally this is running fine. It looks like this is a docker issue?

[2017-07-07 09:50] hendrikebbers opened #563 "Add tests to ActionTestController"
Currently only String & Boolean is checked as param type. We need to add the other supported types.

[2017-07-10 12:09] #554 closed

[2017-07-10 12:09] #553 closed

[2017-07-17 13:07] hendrikebbers opened #566 "Github Release for 0.16.1 is missing"
Looks like we have a 0.16.1 Release but this is missing in the github release overview

[2017-07-17 17:06] hendrikebbers commented on #527
see #549

[2017-07-17 17:13] hendrikebbers commented on #389
Should be solved by providing DP modules.

[2017-07-17 17:13] #389 closed

[2017-07-17 18:27] jermsam opened #570 "dolphin-platform-date-time-converter converting from LocalDate to tiny blob instead of date-time by design?"
![b6](https://user-images.githubusercontent.com/11094475/28283617-e5bbcc0c-6b36-11e7-9148-c398299b1666.JPG)
I've been trying to bind client side javaFx TableColumn<MyModel,LocalDate> column to a presentation model's Property<LocalDate>, this led me to defining LocalDate entity attributes to bind to the presentation Model on the server side controller. since DP 0.9.0 does not use Hibernate 5.1 (and

[2017-07-17 18:31] hendrikebbers commented on #570
Using Dolphin-platform-Date-Time-converter is right. The Dolphin Platform currently still Support Java 7. Since LocalDate is nee in Java 8 we Need to externalize the Converter in an optional Module.

[2017-07-17 18:32] hendrikebbers commented on #570
I do not understand your hibernate issue. You can use the newest release of hibernate in combination with DP if you want

[2017-07-17 18:33] hendrikebbers commented on #570
In addition I would update the Dolphin platform dependency to the newest release since a lot of bugs were fixed since 0.9

[2017-07-17 18:42] jermsam commented on #570
I've been a little hesitant upgrading to 0.16.0 because of the many changes that where done [such as removal of the configuration class and @DolphinBean annotations. Tried to upgrade to it and I got so many bugs in my current code. for instance I had to change the import:
`import com.canoo.dolphin.server.spring.DolphinPlatformApplication;`
to
`import org.springframework.boot.web.support.SpringBoot

[2017-07-17 18:44] hendrikebbers commented on #570
I do not think that upgrading DP will fix your issue. The issue looks like a hibernate problem and not like a DP problem. Can you post the complete stavktrave please?

[2017-07-17 18:46] jermsam commented on #570
[b5.txt](https://github.com/canoo/dolphin-platform/files/1153661/b5.txt)

[2017-07-17 18:49] hendrikebbers commented on #570
Ok, this looks like hibernate do not support a data type that you are using in your java db model class
Maybe this is LocalDate? Maybe you need to update the hibernate version

[2017-07-17 18:51] jermsam commented on #570
That means updating DP right? If so, what would you recommend as most stable latest release?

[2017-07-17 18:55] hendrikebbers commented on #570
Wait a moment. I now seen your picture. In the DB you have a blob that stores the date. Mmh, think that is not the best choice. Modern DBs support Date datatypes. You should change this first, then load it as a java Date or LocalDate by using hibernate. Once this is working your problem should be fixed.
From my part of view this has nothing to do with DP. DP do not depend on hibernate and you can

[2017-07-17 18:59] jermsam commented on #570
The table in the picture was auto generated when I ran the server after adding the dependencies [I am doing JPA persistence in my spring boot. I am not manually drawing the DB tables. Before adding the dependencies, the auto generated table was having proper datetime type for the date fields.

[2017-07-17 19:01] hendrikebbers commented on #570
Ah, ok
So you add spring-boot-data as a dependeny, right?
In that case you can exclude hibernate from that dependency and add a newer version

[2017-07-17 19:01] hendrikebbers commented on #570
Or update DP ;)

[2017-07-17 19:02] hendrikebbers commented on #570
How to exclude a transitive dependency depends on your build tool (maven or gradle) and you can find several examples online

[2017-07-17 19:06] jermsam commented on #570
I want to try both alternatives. What would you recommend as the most stable latest release?

[2017-07-17 19:12] hendrikebbers commented on #570
I think 0.16.1

[2017-07-17 19:17] jermsam commented on #570
Ok. I let me include that one.
Which particular hibernate dependencies should I exclude?
core
entity-manager
hibernate-jpa

[2017-07-17 19:17] jermsam commented on #570
or all

[2017-07-17 19:18] hendrikebbers commented on #570
I am not a hibernate expert. I think you will find an answer online. Sorry

[2017-07-17 19:20] jermsam commented on #570
ok. Thanks a lot boss. Let me first look into this. When it works I will bring back feedback [so as to benefit the entire community.

[2017-07-18 03:00] timo0 commented on #566
Sorry this was an accident for the JS releases. I've tried to automate the release process but this wasn't supposed to be pushed.

[2017-07-18 03:04] timo0 commented on #566
Luckily the only repos I've pushed to was the JS repos. I've removed the tag and I hope no one has already updated.

[2017-07-18 03:04] #566 closed

[2017-07-18 07:17] hendrikebbers opened #571 "Support NaN, INFINITY & -INFINITY in JS data model"
for a general discussion have a look at https://github.com/canoo/dolphin-platform/issues/551
Since JSON do not allow NaN etc. we need to find a way how this can be used.

[2017-07-18 08:12] ghostidentity commented on #570
Hi, the tinyblob datatype must be an issue from hibernate configuration.

DP does not support LocalDate as property, only java.util.Date.  Therefore you need initilize your model class similar below.

[code]

And on the client side (javaFX)

[code]

[2017-07-18 08:14] hendrikebbers commented on #570
@ghostidentity DP support LocalDate ;) But this is part of an optional module that needs to be added to client and server. Simply add "dolphin-platform-date-time-converter" as dependency and you can use all the new Java 8 date & time classes in the Dolphin Platform model

[2017-07-18 08:34] ghostidentity commented on #570
Hi thanks! wasn't aware that there's optional module to include.

I tried the optional module along with dolphin-platform-server-javaee to test the localdate time in POM file.

But Wildfly complain that it cant find other dependencies.

[code]

[2017-07-18 08:36] hendrikebbers commented on #570
mmh, that must be another problem. the optional module has no relation to CDI, JSP or JSF. How have you added the dependency?

[2017-07-18 08:41] ghostidentity commented on #570
Opps, nvm the issue. I added dolphin-platform-date-time-converter version 1.6 while the java ee module as  1.4. I correct the dependency version and now its working.

[2017-07-18 08:43] hendrikebbers commented on #570
cool

[2017-07-18 10:15] blackdrag opened #572 "broken spring tests"
with 0.16.0 all our spring tests involving the dolphin platform are broken with Spring no longer able to inject the RemotingContext:

[2017-07-18 10:22] blackdrag opened #573 "session timeout not working as expected"
with 0.16.0 I did configure the session timeout in the application.properties with

In the server log I can see:

I start my webapplication, log in and then I watch the console and the network traffic. After several minutes I still see all the polling calls return with code 200. And if I then decide to click on that causes the invocation of an dolphin action to check if we are still connected, the

[2017-07-18 11:22] blackdrag commented on #573
turns out the timeout is in minutes, not in seconds. I still see the polling too often in case of a timeout, but this is acceptable

[2017-07-18 11:22] #573 closed

[2017-07-18 18:25] #552 closed

[2017-07-19 09:33] hendrikebbers opened #574 "Use Facebook Flow to provide type safety checks in JS"
We should use Facebook flow to check types at completime in JS

[2017-07-19 09:43] hendrikebbers commented on #551
This problem is a little bit harder to solve than first expected.
All transcoders needs to be real GSON transcoders as described here: https://github.com/google/gson/blob/master/UserGuide.md#TOC-Writing-a-Deserializer

Next to this a mix between the rate JsonParser of GSON and the high level GSON functionality must be used. Example: https://github.com/google/gson/blob/master/extras/src/main/java/c

[2017-07-19 09:44] hendrikebbers commented on #551
First additional unit tests etc. were created in the "value-edge-cases" branch

[2017-07-19 09:49] hendrikebbers commented on #572
Here is an example of a controller test that is part of the TODO-sample of DP: https://github.com/canoo/dolphin-platform/blob/b70cd40fa1c26f263408954585ccb9935e6708d7/platform-examples/todo-example/todo-server-spring/src/test/java/com/canoo/dolphin/todo/server/ToDoControllerTests.java

This test is running fine and remoting context / eventbus is used internally.

Based on this is need more informa

[2017-07-19 16:30] #559 closed

[2017-07-19 16:30] #526 closed

[2017-07-19 20:08] hendrikebbers commented on #250
Done:
core
client
server-javaee
server-spring

[2017-07-19 20:09] hendrikebbers opened #576 "Split private & public API for rpm-common"
Hi - please make sure to check these notes whenever you create an issue for the Dolphin Platform:

- If you are not using the latest version of Dolphin Platform please add the used version in the description
- Please give us some information about the server infrastructure that you are using. Examples: Spring Boot 1.2.2 or JBOSS 6.4 EAP
- In case of an error / bug it's always helpful to add the er

[2017-07-21 13:24] blackdrag opened #577 "Spring failed injection of EventBus due to NPE"
[code]
The exception happens before the startup of the dolphin platform! To me this explains the NPE. But since I cannot influence this all that much on my site I am still wondering about who is really wrong here and how to do it right

[2017-07-21 14:16] blackdrag commented on #577
intermediate solution was to make our GlobalEventBus class use a proxy

[2017-07-21 14:20] blackdrag commented on #572
[code]

[2017-07-21 14:26] blackdrag commented on #572
I was able to produce a very minimal example:
[code]

[2017-07-21 14:28] blackdrag commented on #572
adding our @SpringBootTest(classes = {CommonSpringConfiguration.class}) does not make it better

[2017-07-21 14:33] blackdrag commented on #572
to test this from a different angle I took your TODO controller test and added a "@Inject private RemotingContext remotingContext;" in there. The result is the test is failing the same way as my tests do

[2017-07-21 14:34] blackdrag commented on #572
[code]

[2017-07-25 18:08] hendrikebbers opened #579 "Adding raw client support for client session"
since the client session is specified in the core modules a client could use it without depending on remoting. Therefore we need some helper classes to provide support in the core client

[2017-07-25 18:09] hendrikebbers commented on #579
See https://github.com/canoo/dolphin-platform/pull/578

[2017-07-26 09:35] #579 closed

[2017-07-26 09:37] #539 closed

[2017-07-26 14:29] #546 closed

[2017-07-28 07:44] #576 closed

[2017-08-01 13:22] hendrikebbers commented on #572
fixed by https://github.com/canoo/dolphin-platform/pull/582

[2017-08-02 14:13] #572 closed

[2017-08-02 14:16] #577 closed

[2017-08-11 07:42] hendrikebbers commented on #513
fixed with #585

[2017-08-11 07:42] hendrikebbers commented on #228
fixed with #585

[2017-08-11 07:43] hendrikebbers opened #586 "merge OD modules in remoting"
Since OD do not depend on Groovy anymore it can be merged in the remoting modules

[2017-08-11 19:26] mostfa-ayad opened #587 "erro in fxml controller with init"
hi
i start new application using javafx as client

now  i have the  controller class of the fxml  that extend  AbstractViewBinder
and override the init() method
all the  view contoller that have @FXML Annotation  is  null

i fixt it  i have new problem in the next comment

[2017-08-12 18:46] mostfa-ayad commented on #587
public class UsersFXMLController extends AbstractFXMLViewBinder<UserList> {

    /**
     * Initializes the controller class.
     */
    @FXML
    private TextField id;
    @FXML
    private TextField firstName;
    @FXML
    private TextField secondName;
    @FXML
    private TextField email;
    @FXML
    private TextField userName;
    @FXML
    private TextField password;
    @FXML
    privat

[2017-08-13 17:12] #587 closed

[2017-08-15 13:30] #513 closed

[2017-08-15 13:30] #228 closed

[2017-08-16 15:14] hendrikebbers commented on #586
fixed in https://github.com/canoo/dolphin-platform/pull/588

[2017-08-16 15:35] hendrikebbers commented on #549
Fixed in Travis

[2017-08-16 15:35] hendrikebbers commented on #527
Fixed in Travis

[2017-08-16 15:35] #527 closed

[2017-08-16 15:36] hendrikebbers opened #589 "Better Travis Script"
Based on fixing #549 and #527 I found a nice tutorial how the sonaqube, github pages etc.  build steps can be externalized and better handled in travis. See this links:

https://benlimmer.com/2013/12/26/automatically-publish-javadoc-to-gh-pages-with-travis-ci/
https://github.com/ReadyTalk/swt-bling/blob/master/.utility/push-javadoc-to-gh-pages.sh

[2017-08-18 06:40] hendrikebbers commented on #528
version 0.16.0 and 0.17.0 are missing too

[2017-08-18 06:45] hendrikebbers opened #591 "Check how we can define a good public / private API split in JS"
We have it in Java, how can we do it in JS?

[2017-08-18 06:46] hendrikebbers commented on #591
Check of frameworks like REACT or Angular do it. Do they have private APIs?

[2017-08-18 06:48] hendrikebbers opened #592 "Check how JS frameworks provide HTTP clients"
We are currently working on the Java HTTP client. This should happen in JS, too. Here we should check how other framework HTTP clients like REACT or Angular. Based on this we can decide how the JS vanilla HTTP client should look. In addition we can check if we can add specific integration in the Angular HTTP client for example.

[2017-08-18 06:55] hendrikebbers opened #593 "Clean JS sources"
Check each source for:
[code]

Check all exports / imports and remove unneeded. Default should be `export default class`.

Check upper case / lower case names

Check that all constants are part of `constants.js` and not splitted in several files.

[2017-08-21 20:41] hendrikebbers opened #594 "BlindCommandBatcher JS refactoring"
For a high number of commands the command batcher in JS can be quite slow. Here some refactoring is needed

[2017-08-22 06:11] kunsingh commented on #593
Done....Closing.

[2017-08-22 06:11] #593 closed

[2017-08-22 06:17] hendrikebbers commented on #594
see https://github.com/canoo/dolphin-platform-js/pull/34

[2017-08-22 10:53] manish5196 opened #596 "Integration Test is not working with payara server in fresh system(First Time)"

[2017-08-22 11:46] hendrikebbers opened #598 "Remove EmptyCommand"

[2017-08-22 13:57] #594 closed

[2017-08-23 06:04] #563 closed

[2017-08-23 06:14] #570 closed

[2017-08-23 06:18] hendrikebbers commented on #538
in the dolphin.properties ;)
This is needed now because of the modules. If a customer provide its own string (base package) here the internal canoo package is not used anymore. SO we need a list!

[2017-08-23 06:24] hendrikebbers commented on #483
@blackdrag what exactly is the problem? This looks like the other site was killed / closed the connection. In that case I would expect an exception. The interesting part is the exception handler. If a custom exception handler that is added to DP can handle this Exeption (by for example showing a dialog) everything is fine.

[2017-08-23 06:25] hendrikebbers commented on #416
For version 1 of DP we will have a REST client that supports all REST operations (GET, POST...) by using the client scope.

[2017-08-23 06:26] hendrikebbers commented on #377
Already done

[2017-08-23 06:26] #377 closed

[2017-08-23 06:26] #113 closed

[2017-08-23 06:29] #73 closed

[2017-08-23 07:11] #586 closed

[2017-08-24 06:44] hendrikebbers opened #602 "Update all Classes, Packages & module names in Doc"
Since the split between public / private API and the split between base modules and remoting modules a lot of samples etc. in the doc are wrong.

[2017-08-24 06:45] hendrikebbers opened #603 "Add controller tests / integration tests that check controller hierarchy"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
We need tests for
- `PostChildCreated`
- `PreChildDestroyed`
- `ParentController`

The `integration-server` already defines

[2017-08-24 06:47] hendrikebbers opened #604 "Add controller integration tests for qualifier"
We need tests for
- Qualifier
- PropertyBinder

[2017-08-24 06:48] hendrikebbers opened #605 "Add controller hierarchy to doc"
we need a chapter in the doc about controller hierarchy.
This should describe ParentController, PostChildCreated, PreChildDestroyed

[2017-08-24 06:49] hendrikebbers opened #606 "Use model store and connector directly"
We should remove the Dolphin classes (Dolphin, ClientDolphin, ServerDolphin) and use the model store and client connector always directly (same in JS).

[2017-08-24 06:57] hendrikebbers opened #607 "Move modules from extras to default folder"
We should move the following modules:

- dolphin-platform-spring-controller-tester
- dolphin-platform-distributed-eventbus
- dolphin-platform-date-time-converter

They all are used by mostly all customers / projects and therefore we can add them to the default folder (platform).

[2017-08-24 06:59] hendrikebbers opened #608 "Create top level folder for all integration modules"
All the modules that are used for integration tests (integration in name) are currently on in the project root folder. we should create a "platform-integration-tests" folder and all the projects to that folder like we are doing for examples etc.

[2017-08-24 07:02] hendrikebbers opened #609 "Add first version of JS based http client"
See https://github.com/canoo/dolphin-platform/issues/592 and the Java imply here https://github.com/canoo/dolphin-platform/pull/590

It is important that we can add handlers to the client that are used in every request / response. This is needed since we need to add the dolphin-client-id to each request and check it for each response. Once security is added a second handler is needed that does the

[2017-08-24 07:09] hendrikebbers opened #610 "Create Metrics sample"
Create samples for the basic metrics types that are provided by drop wizard metrics:
http://metrics.dropwizard.io/3.1.0/getting-started

The idea here is that this is used as default metrics tool in DP. To do so we should start with some samples. This should be done in an external repo first.

[2017-08-24 07:10] hendrikebbers opened #611 "Create a branch that adds logger functionality"
In the private repos we have custom logger functionality for Java & JS. This should become Open source. Please provide this in a branch first since merge will be done on later point.

Here the modules must be added to the Java repo and the JS repo. In addition the names of the modules should be defined etc.

[2017-08-24 07:12] hendrikebbers opened #612 "Create a new sample that shows the usage of controller hierarchies"
add to the examples folder

[2017-08-24 07:13] hendrikebbers opened #613 "Check for what basic classes unit tests are missing and add them"
were raw description but we have some classes with basic / static methods that are not tested until now.

[2017-08-24 07:13] hendrikebbers opened #614 "Add unit tests to JS projects"
Here we need a lot more tests.

[2017-08-25 10:18] hendrikebbers opened #617 "Http-Header-Factory"
We should provide a simple method in the client core module that provides all header infos from DP (client id, security token, ...) in a simple Map (Header-Name -> Content)

[2017-08-25 13:02] kunsingh commented on #612
See - https://github.com/canoo/dolphin-platform/issues/382

[2017-08-25 13:03] kunsingh commented on #603
See - https://github.com/canoo/dolphin-platform/issues/382

[2017-09-04 16:25] hastebrot opened #618 "Readme: Should link to the corresponding section for subprojects"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
For instance https://github.com/canoo/dolphin-platform-angularjs/blob/master/README.md should have a link to https://canoo.g

[2017-09-04 16:28] hastebrot commented on #614
JS projects that is:

- [dolphin-platform-js](https://github.com/canoo/dolphin-platform-js)
- [dolphin-platform-angularjs](https://github.com/canoo/dolphin-platform-angularjs)
- [dolphin-platform-polymer](https://github.com/canoo/dolphin-platform-polymer)

[2017-09-05 11:11] hastebrot opened #619 "JavaScript: Add npm scripts for install and build to package.json"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
npm allows us to define custom script calls in `package.json`(https://docs.npmjs.com/misc/scripts).

Since we already have `

[2017-09-05 15:24] hastebrot commented on #532
Per Polymer 2.x documentation (https://www.polymer-project.org/2.0/docs/upgrade#before-you-begin) we should target the following component versions (ranges):

- **Polymer:** ^2.0.0
- **webcomponentsjs:** ^1.0.0
- **web-component-tester:** ^6.0.0
- **Polymer elements:** ^2.0.0

[2017-09-19 10:44] hastebrot opened #620 "Polymer: Use <test-fixture> in component tests."
Polymer 2.x uses `web-component-tester` 6.x [[1]] which bundles `<test-fixture>` 3.x [[2]].

[1]: https://github.com/Polymer/web-component-tester/releases
[2]: https://github.com/PolymerElements/test-fixture/releases

`<test-fixture>` provides a simple way to test web components. It attaches and detaches elements before and after a single test case.

[code]

We should define a standard way to use

[2017-09-19 10:47] hendrikebbers commented on #620
I think you are mixing the connection context (1 per client) and the controller (1 per view, can be N per client) here.
Providing an element for the context / the connection makes sense

Von meinem iPhone gesendet

[2017-09-19 10:57] hastebrot commented on #620
Right. AFAIK the connection context is globally defined and runs the whole time to push/poll changes from the server. Custom elements need access to the connection context.

[code]

I wonder what's the right approach. If we use a `<dolphin-connection>` element how can `<my-view>` access the connection. Dolphin provides an event bus, maybe we could use it.

This is also interesting, if we want to t

[2017-09-19 11:08] hastebrot commented on #620
To clearify the concepts:

- Attaching/detaching a `<dolphin-connection>` element means we connection/disconnect to/from a dolphin server.
- Attaching/detaching a `<dolphin-controller>` element means we poll/push changes to/from the dolphin controller.

[2017-09-19 12:34] hendrikebbers commented on #620
I think this will not work. According to https://github.com/canoo/dolphin-platform/issues/382 you can have a hierarchy in the controller.

When you have a web view (like index.html) you will have something like this:

[code]

In this case both views are polymer web components and both should connect to a controller on the server and share a model with the controller. To do so the components needs

[2017-09-19 12:36] hastebrot commented on #532
At least some of the official Polymer elements provide support for both Polymer 1.9 and 2.x.

[code]

via: https://github.com/PolymerElements/paper-input/blob/56089b9e2e6609fc1d0e3a34be9a9e332f2a1b4b/bower.json#L30-L31

Seems they instruct Travis CI to install multiple variants (i.e. Polymer 2.x with Web Components 1.x; Polymer 1.x with Web Components 0.x).

[code]

via: https://github.com/Polymer

[2017-09-26 13:23] hastebrot opened #623 "Polymer: Provide a <dolphin-controller> element"
There should be a way to connect to a controller without having to use a behavior/mixin.

Research advantages/disadvantages and possible obstacles.

[2017-09-28 02:20] hastebrot commented on #623
The `<iron-list>` demo page provides an example for orientation (https://github.com/PolymerElements/iron-ajax/blob/536c76a4206e08a16b364930855e46f58ce3565d/demo/index.html#L55-L69).

[2017-09-28 11:38] hastebrot commented on #623
Let us analyze current approach.

`demo/index.html`:
- Imports the Polymer adapter: `<script src="../dist/dolphin-platform-polymer.js"></script>`.
- Connects to Dolphin: `clientContext = dolphin.clientContext("http://localhost:8080/dolphin");`.
- Handles connection errors: `clientContext.onConnect().then(...).catch(...);`.

`demo/todo-view.html`:
- Defines new element: `<dom-module id="todo-view">

[2017-10-09 08:54] hendrikebbers commented on #532
see https://github.com/canoo/dolphin-platform-polymer/pull/14

[2017-10-09 08:54] hendrikebbers commented on #435
Based on https://github.com/canoo/dolphin-platform/issues/532 we will define the version

[2017-10-09 08:54] #435 closed

[2017-10-09 08:59] hendrikebbers commented on #623
When creating a view in Polymer 2 it should contain a `<dolphin-controller>` component:

[code]

[2017-10-09 09:03] hendrikebbers commented on #623
Thinking about hierarchies:
The polymer component must support https://github.com/canoo/dolphin-platform/pull/514

[2017-10-10 08:08] #40 closed

[2017-10-10 08:10] hendrikebbers commented on #245
copy of #30 and #61

[2017-10-10 08:10] #245 closed

[2017-10-10 08:58] hendrikebbers commented on #623
Polymer 2 should be ready at 16th October

[2017-10-11 06:48] hendrikebbers opened #626 "Move Binding interface to common module"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
This should not be part of the client API. Can be used in server, too. Based on this the `Binding` interface should be moved

[2017-10-11 06:56] hendrikebbers opened #627 "Move com.canoo.platform.remoting.server.spi to com.canoo.platform.remoting.server.event.spi"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Since the content of the SPI package is only related to the event bus it should be a sub package of the event bus.

### 📋 St

[2017-10-11 07:16] hendrikebbers opened #628 "Move ListEventSessionFilter to impl"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The functionality of this filter can be created by using the `EventSessionFilterFactory` that is part of the public API. The

[2017-10-11 07:56] hendrikebbers opened #629 "Move DefaultBidirectionalConverter to impl"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The `DefaultBidirectionalConverter` class is currently not needed in public API. It can be moved to private API.

### 📋 Step

[2017-10-11 08:00] hendrikebbers opened #630 "Replace FxmlLoadException with DolphinRuntimeException"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The `FxmlLoadException` is not needed. It should be replaced with `DolphinRuntimeException`

### 📋 Step by Step
- 🙋 Claim th

[2017-10-11 08:02] hendrikebbers opened #631 "Remove DolphinStage & DolphinWindow and provide functionality in DolphinWindowUtils"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The classes  `DolphinStage` & `DolphinWindow` are not needed. They can be removed or moved to private API. The functionality

[2017-10-11 08:07] hendrikebbers opened #632 "Remove SimpleDolphinPlatformApplication"
Since this is nice for our samples it do not support import thinks like i18n etc. Based on that it should not be part of the public API

[2017-10-11 08:09] hendrikebbers opened #633 "Move FXWrapper to com.canoo.platform.remoting.client.javafx"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The class `FXWrapper` is currently in the wrong package.

### 📋 Step by Step
- 🙋 Claim this issue: Comment below.
- 🔄 replac

[2017-10-11 08:11] hendrikebbers opened #634 "Rename AbstractViewBinder to AbstractViewController"
Normally in JavaFX you would call such a class *Controller or better *ViewController. We should use AbstractViewController & AbstractFXMLViewController as names for our public classes.

[2017-10-11 08:12] hendrikebbers opened #635 "Move Converter and BidirectionalConverter of JavaFX client API to com.canoo.platform.remoting.client.javafx"
This classes are basic classes and should not be part of the binding package

[2017-10-11 12:58] hendrikebbers opened #636 "Refactor the Eventbus public / private API to have a standardized version for DP & other framework like ULC"
Based on some discussions with @janakmulani we will refactor some of the event bus classes to get a result that is independent from Dolphin Platform

[2017-10-12 07:02] janakmulani commented on #636
We discussed the differences between EventBus for DP and ULC.

All DP apps are managed and DP EventBus is a singleton in SpringContext and can be injected in different DP sessions. Thus it is available to all DP controllers within a DP session and across two DP sessions.

All ULC apps are not managed. ULC. So ULCEventBus cannot be injected. It was made part of ULC Session and can be used only with

[2017-10-12 12:07] hendrikebbers commented on #550
see #638

[2017-10-12 12:07] #478 closed

[2017-10-13 15:05] joha78 opened #641 "@ParentController annotation is not working"
In the current 0.18.0 and master the @ParentController is not working. It always throws a RuntimeException telling me that I am using a wrong type.

[2017-10-14 07:24] TimRiemer commented on #515
Working on.

Would try to update all dependencies.
@hendrikebbers is there a generell issue for that?

[2017-10-14 11:16] TimRiemer commented on #635
Working on.

[2017-10-14 13:35] #635 closed

[2017-10-14 14:09] hendrikebbers commented on #634
@crud3 is working on this one :) THX very much!

[2017-10-14 14:09] #634 closed

[2017-10-14 14:10] hendrikebbers commented on #515
@TimRiemer yes we have https://github.com/canoo/dolphin-platform/pull/644

[2017-10-14 14:10] hendrikebbers commented on #515
ah, you already found it :D

[2017-10-14 14:18] hendrikebbers opened #646 "Adding images to readme.md"
We should add general diagrams etc. as info to readme.md

[2017-10-14 21:25] Nipel-Crumple commented on #626
Hi! I'd like to work on this issue.

[2017-10-14 21:31] Nipel-Crumple commented on #626
@hendrikebbers Oops, It seems that I've broken build? Or it is connected with something else?

[2017-10-14 21:41] Nipel-Crumple commented on #626
That is the problem from build log:
[code]
What can I do with this?

[2017-10-15 14:31] #515 closed

[2017-10-15 14:37] hendrikebbers commented on #626
Hi @Nipel-Crumple
to run the build you only need to call `gradlew clean build` from the command line or IDE. Are you familiar with gradle? SonarQube is only for quality checks and will be called by travis automatically.

Next to gradle docker is needed to run the build since Dolphin Platform contains some integration tests that are based on docker.

Please ask me if you have any additional questio

[2017-10-15 17:22] Nipel-Crumple commented on #626
@hendrikebbers
Yes, I'm familiar with gradle, and you're right, Travis failed the build because of SonarQube and I cannot understand, why it happened? As I see `.travis.yaml` should install all dependencies before bulding app, but it seems that there is some issue with SonarQube

[2017-10-16 04:47] BadJukeBox commented on #628
Hey i'd like to claim this issue if that's alright! is this process just moving the file from one folder to another or is it moving the functionality? Thanks!

[2017-10-16 06:11] hendrikebbers commented on #628
Hi @BadJukeBox
the functionally is already wrapped in the `EventSessionFilterFactory` class. Based on this the class must only be moved to another package (the private API).

[2017-10-16 06:16] hendrikebbers opened #648 "Refactor all names of the different sample modules to a general pattern"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The class `FXWrapper` is currently in the wrong package.

### 📋 Step by Step
- 🙋 Claim this issue: Comment below.
- 🔄 replac

[2017-10-16 06:20] hendrikebbers opened #649 "Add version numbers to Docker base containers"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently all docker base containers that are used for integration tests do not provide version numbers. Based on this alway

[2017-10-16 06:25] hendrikebbers opened #650 "Byte[] support in model by adding ConverterFactory implementation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
To support different data types in the model layer of the remoting modules Dolphin Platform provides an SPI that is defined

[2017-10-16 08:45] abhishekkrchy commented on #650
Up for working on it.

[2017-10-16 09:26] hendrikebbers commented on #650
@abhishekkrchy cool!

[2017-10-16 09:29] vpondala commented on #649
Let me work on this

[2017-10-16 09:31] hendrikebbers commented on #649
@vpondala cool! If you have any question just join our slack community channel: https://join-dolphin-platform-slack.herokuapp.com

[2017-10-16 09:31] joha78 commented on #650
I can provide a converter for java.time.Instant

[2017-10-16 09:34] hendrikebbers commented on #650
@joha78 sounds good. But this should be added in the `dolphin-platform-date-time-converter` module since it depends on Java 8. 👍

[2017-10-16 09:34] joha78 commented on #648
@hendrikebbers  I take this for Tanja, ok? :-)

[2017-10-16 10:35] hendrikebbers commented on #648
@joha78 sure!

[2017-10-16 19:07] joergsesterhenn commented on #369
I'd like to do this. I have made one pull request before but never really contributed, since the PR was not accepted - does this count?

[2017-10-16 20:45] hendrikebbers commented on #369
That's fine :)

You can find samples of controller tests [here]/https://github.com/canoo/dolphin-platform/tree/master/platform-integration-tests/integration-server/src/test/java/com/canoo/dolphin/integration/server) and [here](https://github.com/canoo/dolphin-platform/tree/master/platform-examples/todo-example/todo-server-spring/src/test/java/com/canoo/dolphin/todo/server).

The documentation for

[2017-10-16 20:50] hendrikebbers opened #654 "Add support for @Digits bean validation annotation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the `dolphin-platform-bean-validation` module do not provide support for all default bean validation annotations.

[2017-10-16 20:51] hendrikebbers opened #655 "Add support for @Future bean validation annotation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the `dolphin-platform-bean-validation` module do not provide support for all default bean validation annotations.

[2017-10-16 20:52] hendrikebbers opened #656 "Add support for @Max bean validation annotation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the `dolphin-platform-bean-validation` module do not provide support for all default bean validation annotations.

[2017-10-16 20:52] hendrikebbers opened #657 "Add support for @Min bean validation annotation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the `dolphin-platform-bean-validation` module do not provide support for all default bean validation annotations.

[2017-10-16 20:53] hendrikebbers opened #658 "Add support for @Past bean validation annotation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the `dolphin-platform-bean-validation` module do not provide support for all default bean validation annotations.

[2017-10-16 20:53] hendrikebbers opened #659 "Add support for @Pattern bean validation annotation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the `dolphin-platform-bean-validation` module do not provide support for all default bean validation annotations.

[2017-10-16 20:54] hendrikebbers opened #660 "Add support for @Size bean validation annotation"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the `dolphin-platform-bean-validation` module do not provide support for all default bean validation annotations.

[2017-10-16 20:59] hendrikebbers opened #661 "Add content of LICENSE and CONTRIBUTING.md files to documentation"
The LICENSE and CONTRIBUTING.md files are part of the Dolphin Platform repository but currently they are not in the asciidoc based documentation. The current text of this files should be added as additional chapters to the end of the documentation.

[2017-10-16 21:02] hendrikebbers opened #662 "Provide unit tests for SimpleDolphinPlatformThreadFactory"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently we do not have any unit tests for this class.

### 📋 Step by Step
- 🙋 Claim this issue: Comment below.
- 🔄 replace

[2017-10-16 21:03] hendrikebbers opened #663 "Provide additional unit tests for ReflectionHelper"
Currently we do not have unit tests for most methods of this class

[2017-10-16 21:06] Jarota commented on #627
Hey, can I give this a go?

[2017-10-16 21:07] hendrikebbers commented on #627
@Jarota sure :)

[2017-10-16 21:19] h93xV2 commented on #663
I am going to start working on this.

[2017-10-16 21:19] hendrikebbers commented on #663
@h93xV2 👍

[2017-10-16 21:43] joergsesterhenn commented on #369
Thanks I am familiar with maven archetypes.

[2017-10-16 22:02] joergsesterhenn commented on #369
Would you assign me to this issue?

[2017-10-16 22:02] cristh18 commented on #661
I don't understand very well, what I should do in this issue. For this files LICENSE and CONTRIBUTING.md, I should pass to asciidoc format with the same text?

[2017-10-16 22:04] hendrikebbers commented on #661
Yes. And it should be part in the generated documentation as separate chapters at the end

[2017-10-16 22:06] hendrikebbers commented on #369
I need to check how I can do that. Already tried it but it looks like I can not assigne a issue to people that are not part of the Canoo team. :(

[2017-10-16 22:08] timo0 commented on #369
Thanks for helping us! The assignment is only possible of team members but you can go without beeing assigned :)

[2017-10-16 22:09] joergsesterhenn commented on #369
Ok 😃

[2017-10-16 22:10] #641 closed

[2017-10-16 22:12] #628 closed

[2017-10-17 02:34] h93xV2 commented on #663
@hendrikebbers I am a little confused on how to run specific test classes. I tried to target `ReflectionHelperTest` with

`./gradlew test --tests ReflectionHelperTest`

and realized this was not the way to go about it. Do you have any hints for me?

[2017-10-17 06:37] hendrikebbers commented on #663
you can simply do

`./gradlew :dolphin-platform-core:test`

this will start all tests in the dolphin-platform-core module. Since all the tests run < 1 sec that is the easiest way to do it.

[2017-10-17 07:36] h93xV2 commented on #663
Awesome, thanks. After reading the documentation I was starting to get closer to that, but your comment really helps.

[2017-10-17 10:08] kunsingh commented on #607
Done.

[2017-10-17 10:10] kunsingh commented on #608
Done.

[2017-10-17 10:36] vpondala commented on #649
I had a look at the images in Dockerhub. I can't see any tags other than latest for airhacks/* images:

https://hub.docker.com/r/airhacks/payara-configured/tags/
https://hub.docker.com/r/airhacks/wildfly/tags/
https://hub.docker.com/r/airhacks/tomee/tags/
https://hub.docker.com/r/airhacks/java/tags/

Not sure what we can do here.

[2017-10-17 10:46] suryaprakashraja commented on #662
I am going to start working on this.

[2017-10-17 10:54] hendrikebbers commented on #649
I will ask Adam Bean who is the maintainer of the files if he can do a release

[2017-10-17 10:57] hendrikebbers commented on #649
Done: https://twitter.com/hendrikEbbers/status/920242006139588608
Let's wait for an answer :)

[2017-10-17 16:48] Koziolek commented on #656
Let's try :)

[2017-10-17 17:46] yirrilo commented on #660
Hello,

I can try to handle this if you're OK.

Yann

[2017-10-17 19:51] bezmax commented on #659
Hey @hendrikebbers, I would like to work on this issue.

[2017-10-17 20:45] hendrikebbers commented on #662
@suryaprakashraja 👍

[2017-10-17 20:46] hendrikebbers commented on #660
@yirrilo 👍

[2017-10-17 20:46] hendrikebbers commented on #659
@bezmax 👍

[2017-10-17 20:46] hendrikebbers commented on #656
@Koziolek 👍

[2017-10-17 21:06] hendrikebbers opened #669 "Provide unit tests for ClientSessionStoreImpl"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently we do not have any unit tests for this class.

### 📋 Step by Step
- 🙋 Claim this issue: Comment below.
- 🔄 replace

[2017-10-17 21:42] Acrylami commented on #669
Hi! I'll give this my best shot :)

[2017-10-17 21:55] bezmax commented on #659
@hendrikebbers All done. Please review :)

I've also done some refactoring by separating tests for different validators. I was also thinking about separating those into separate files, but did not want to go too far away from the scope of this issue. Maybe a separate ticket is needed for that.

[2017-10-17 21:58] joergsesterhenn commented on #369
Is it possible that @hendrikebbers already added an example of a [controller test](https://github.com/canoo/dolphin-platform-spring-boot-archetype/blob/master/src/main/resources/archetype-resources/server/src/test/java/controller/MyControllerTest.java) to the archetype ❓

I am not sure if this is what you were looking for, but I guess that is what I would have implemented - if it wasn't already th

[2017-10-17 22:04] hendrikebbers commented on #369
Oh s**t,
I have not seen that when creating the issue :(
I‘m really sorry about that

[2017-10-17 22:04] hendrikebbers commented on #369
You are right. That is exactly what the issue describes

[2017-10-17 22:06] hendrikebbers commented on #369
Looks like someone (me) missed to close the issue. Will do it now. Really sorry about that

[2017-10-17 22:06] #369 closed

[2017-10-17 22:06] joergsesterhenn commented on #369
No probs, just thought I was maybe missing something 😄

[2017-10-17 22:09] joergsesterhenn commented on #369
Please suggest anything else I should do now that I know my way around a little. I'd really like to contribute something other than closing this issue...

[2017-10-17 22:12] celesteessel commented on #669
Ive contributed to open source by adding to readme files. So, im not a first timer,  but Im still very unfamiliar with contributing to open source. Could I claim this issue?

[2017-10-17 22:28] joergsesterhenn commented on #654
This looks like nobody has done it yet 😉  I'll do it.

[2017-10-17 23:24] JakobTeske commented on #633
Hi, I would like to claim this issue for my first real pull request.

[2017-10-18 05:25] kunsingh commented on #606
Done.

[2017-10-18 05:26] kunsingh commented on #604
Done.

[2017-10-18 05:28] #604 closed

[2017-10-18 05:29] #608 closed

[2017-10-18 05:29] #607 closed

[2017-10-18 05:30] #606 closed

[2017-10-18 05:30] #30 closed

[2017-10-18 05:42] hendrikebbers commented on #369
Sure, you take any issue with the 'good first issue' label that are made for a first issue and often are quite easy. See https://github.com/canoo/dolphin-platform/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

Good one are https://github.com/canoo/dolphin-platform/issues/631 or https://github.com/canoo/dolphin-platform/issues/655

[2017-10-18 05:58] hendrikebbers commented on #669
@celesteessel sure :)

[2017-10-18 05:59] hendrikebbers commented on #654
@joergsesterhenn 👍 Yes, this is not already done :)

[2017-10-18 06:00] hendrikebbers commented on #633
@JakobTeske Go :)

[2017-10-18 08:04] hendrikebbers opened #671 "spring-boot-maven-plugin in maven archetype"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the pom of the server module do not provide a runnable jar file by default. To define a more easy build we should

[2017-10-18 08:09] jermsam commented on #671
Hey guys... I want to give this a shot.

[2017-10-18 08:11] hendrikebbers opened #672 "Adding native build support to client in maven archetype"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently the pom of the client module do not provide a native build support. This can easily be done by adding the `javafx-

[2017-10-18 08:11] hendrikebbers commented on #671
@jermsam 👍

[2017-10-18 08:18] Ampretuzo commented on #655
I'll give this a go.

[2017-10-18 08:19] Ampretuzo commented on #657
I'll try this too.

[2017-10-18 08:19] hendrikebbers commented on #655
@Ampretuzo cool!

[2017-10-18 08:19] hendrikebbers commented on #657
@Ampretuzo go for it :)

[2017-10-18 08:19] Ampretuzo commented on #658
Aaaand I'll try to implement this as well.

[2017-10-18 08:20] hendrikebbers commented on #658
@Ampretuzo ok, do you have knowledge in java bean validation? Do you want to do all 3 issues in one PR?

[2017-10-18 08:45] Ampretuzo commented on #658
I'm not exactly an expert, but I've seen the code and it does not seem to be too difficult. If I'm mistaken correct me :)
If I'll encounter some difficulties I'll keep you posted.
Yes, one PR.

[2017-10-18 08:48] hendrikebbers commented on #658
ok :)

[2017-10-18 09:18] hastebrot opened #673 "(doc) Update release guide for changed Polymer client"
The release process for the new Polymer v2 client has changed a bit:

- [ ] Examples: we need to use `git add --all --force .` to add files from `bower_components` and `node_modules`. Otherwise it will not consider `dist/` directories (e.g. `bower_components/dolphin-platform-js/dist`) for the commit.
- [ ] Build: `gulp` was replaced with `polymer` cli command using `npm run build`.
- [ ] Build: So

[2017-10-18 10:38] blackdrag opened #674 "Concurrency error in task executor for Dolphin Platform: Cause not logged"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The following exception was found in a server log:

[code]

As you can see in the code of DolphinContextTaskQueue this excep

[2017-10-18 10:41] hendrikebbers commented on #674
At first the cause should be logged! The error can be an application error

[2017-10-18 12:04] codedsun commented on #672
can I work on this issue @hendrikebbers

[2017-10-18 14:46] hendrikebbers commented on #672
@codedsun sure :)

[2017-10-18 15:41] ArkantosC commented on #629
Hi, is the idea move the class to com.canoo.dp.impl.client.javafx ?

[2017-10-18 15:42] hendrikebbers commented on #629
Yes

Von meinem iPhone gesendet

[2017-10-18 15:43] ArkantosC commented on #629
Working on it

[2017-10-18 16:19] ArkantosC commented on #629
Created pull request and it is waiting for a reviewer.

[2017-10-18 16:37] hendrikebbers commented on #629
Cool! Will have a look tomorrow

Von meinem iPhone gesendet

[2017-10-18 17:47] Ampretuzo commented on #658
Henrik, I implemented and tested this one with unit test, but I had to work around abstract validator.
It does not integrate with JSR-303 well and requires further type checkings in its implementations when multiple types need to be supported (in this case it is Date and Calendar classes).
There are two ways to do this task: (i) write with work arounds quickly to get things done, or (ii)  modify/c

[2017-10-18 18:39] singloon commented on #618
@hendrikebbers @hastebrot can I claim this issue?

[2017-10-18 19:08] singloon commented on #618
So this requires changing the readme for the 4 client repositories?

[2017-10-18 19:28] h93xV2 commented on #630
Since this has been up for a week, and even though I have contributed to Open Source a couple times, can I claim this? It would be really good practice for me

[2017-10-18 19:33] JakobTeske commented on #633
@hendrikebbers please review

[2017-10-18 20:14] h93xV2 commented on #632
I am going to work on this.

[2017-10-18 20:17] #659 closed

[2017-10-18 20:18] hendrikebbers commented on #658
Using the abstract class is not a must :) I think your idea sounds good 👍

[2017-10-18 20:18] hendrikebbers commented on #618
@singloon yes

[2017-10-18 20:19] hendrikebbers commented on #630
@h93xV2 sure :)

[2017-10-18 20:21] hendrikebbers commented on #633
@JakobTeske see comment in PR

[2017-10-18 20:22] hendrikebbers commented on #633
See my comment here https://github.com/canoo/dolphin-platform/pull/677

[2017-10-18 20:23] hendrikebbers commented on #632
@h93xV2 👍

[2017-10-18 20:24] #663 closed

[2017-10-18 20:26] hendrikebbers commented on #629
see https://github.com/canoo/dolphin-platform/pull/676

[2017-10-18 20:26] h93xV2 commented on #630
@hendrikebbers Thanks!

[2017-10-18 20:26] #629 closed

[2017-10-18 20:29] hendrikebbers commented on #627
see https://github.com/canoo/dolphin-platform/pull/666

[2017-10-18 20:31] hendrikebbers commented on #626
@Nipel-Crumple can you create an issue for that. We currently have Travis builds based on docker integration and based on this I haven't checked the Travis result since it is not working. But this one is new to me. So please create an issue :)

[2017-10-18 20:32] hendrikebbers commented on #626
Maybe you can try `gradlew clean build` on your local machine. If this is running we are fine (for the moment)

[2017-10-18 20:34] hendrikebbers commented on #662
see https://github.com/canoo/dolphin-platform/pull/675

[2017-10-18 20:37] singloon commented on #618
@hendrikebbers is there documentation for all the sub projects? In the documentation I can see information for Java ee integration, Spring integration and angular js integration.

[2017-10-18 20:40] #630 closed

[2017-10-18 20:40] hendrikebbers commented on #618
@singloon no. Polymer & JS is still missing.

[2017-10-18 21:10] singloon commented on #618
Please review https://github.com/canoo/dolphin-platform-angularjs/pull/11 for the updated documentation for angularjs

[2017-10-18 21:17] singloon commented on #618
Also can you please review https://github.com/canoo/dolphin-platform-android/pull/4 for the updated documentation for Android

[2017-10-18 21:22] joergsesterhenn commented on #654
Please comment on my PR.

[2017-10-18 21:23] hastebrot commented on #592
There is the standardized `window.fetch` API from WHATWG for this. It aims to replace `XMLHttpRequest`, and it is `Promise`-based.

- Specification: https://fetch.spec.whatwg.org/
- Polyfill for older browsers: https://github.com/github/fetch

Example:

[code]

Integration in React should be simple. Angular uses it own `$http` and promise stuff; which should be ok, since we should not couple deep

[2017-10-18 21:28] joergsesterhenn commented on #631
I'll do this one too, if that's ok.

[2017-10-18 23:28] PlatanoBailando commented on #20
I'll try working on this guy.

[2017-10-18 23:48] PlatanoBailando commented on #20
Though, I am a bit puzzled, as there is no method with a signature of `add(int index, E... elements) ` in JavaFX ObservableList: https://docs.oracle.com/javase/8/javafx/api/javafx/collections/ObservableList.html

[2017-10-19 04:21] BadJukeBox commented on #619
Hi I'd like to take this one, but there are multiple package.json files so i'm somewhat confused what needs to be done here?

[2017-10-19 06:08] codedsun commented on #672
@hendrikebbers  Guide me for the pom file and where the following code is to be added.
Thanks.

[2017-10-19 06:46] hendrikebbers commented on #654
THX! See my comment on the PR

[2017-10-19 06:47] hendrikebbers commented on #631
@joergsesterhenn go for it :)

[2017-10-19 06:48] hendrikebbers commented on #20
lol, you are right. So the methods that are part of the JFX interface should be added ;)

[2017-10-19 06:52] #632 closed

[2017-10-19 06:53] hendrikebbers commented on #619
@hastebrot can you help here?

[2017-10-19 06:56] hendrikebbers commented on #662
THX :)

[2017-10-19 06:56] #662 closed

[2017-10-19 06:58] hendrikebbers commented on #672
@codedsun have a look at this repository https://github.com/canoo/dolphin-platform-spring-boot-archetype

It is a maven archetype. If you are not familiar with archetypes check this doc: http://maven.apache.org/guides/mini/guide-creating-archetypes.html

[2017-10-19 08:38] hastebrot opened #684 "Polymer: Custom element to notify about server connection"

[2017-10-19 08:59] hastebrot commented on #619
Should be the `package.json` in the project root directory:

- https://github.com/canoo/dolphin-platform-angularjs/blob/master/package.json
- https://github.com/canoo/dolphin-platform-polymer/blob/master/package.json
- https://github.com/canoo/dolphin-platform-js/blob/master/package.json

Since each directory also contains a `gulpfile.js` I assume it is possible to build each project using Gulp.

[2017-10-19 10:16] hendrikebbers commented on #684
Browser is disconnected to Dolphin server (success state). <- I think this one is missing

[2017-10-19 10:17] hendrikebbers commented on #684
Browser received session timeout from Dolphin server (failed state). <- AT the beginning this will be a lost connection. Same for bad response state from server etc.

[2017-10-19 10:18] hendrikebbers commented on #684
Later we can add more detailed errors but for now the 3 are fine. Maybe the error type can be defined in the param of the callback:

SessionTimeoutError, ConnectionRefusedError, BadResponseError...

[2017-10-19 13:33] Jarota opened #685 "Null Pointer Exceptions"
See this PullRequest:  #666

There's a number of null pointer exceptions when building ( `./gradlew clean build` )
I've attached a file with the build output, containing the exceptions.
[buildOutput.txt](https://github.com/canoo/dolphin-platform/files/1398529/buildOutput.txt)

[2017-10-19 13:38] hastebrot commented on #684
Code sample for the current `dolphin-platform-js` API:

[code]

With running Dolphin server:

[code]

Without running Dolphin server:

[code]

[2017-10-19 13:53] hastebrot commented on #684
I'll try to get a better results using the event emitter, i.e. `clientContext.on(event, callback)`.

[2017-10-19 14:37] hastebrot commented on #684
Documentation lists some error cases here (https://canoo.github.io/dolphin-platform/#_creating_a_javafx_clients_that_supports_the_dolphin_platform_lifecycle) at the end of the subsection.

[2017-10-19 18:07] jonathanvila commented on #660
I'll take a look and try #hacktoberfest

[2017-10-19 19:26] jonathanvila commented on #656
I'll try

[2017-10-19 21:03] hastebrot opened #688 "Polymer: Ensure the new client is compatible to older browsers"
- Safari for iPad
- IE 11 for Windows

[2017-10-19 21:11] BadJukeBox commented on #619
So you want each package.json to contain the changes? If so that makes things clearer, as originally it seemed as though there was only one package to change.

[2017-10-19 22:49] joergsesterhenn commented on #654
@hendrikebbers: I need help 😞 I tried really hard to wrap my head around the idea of rebasing my branch ontop of the current master branch but somehow I fail whatever I try.

I almost made a new fork and start over with my changes...

[2017-10-20 07:16] h93xV2 commented on #598
I will do this.

[2017-10-21 07:09] hendrikebbers commented on #654
I can offer some help on monday

[2017-10-21 22:29] antrix190 commented on #671
Can i take this up?

[2017-10-22 05:52] jermsam commented on #671
Please do because I am currently busy.

On Sun, Oct 22, 2017 at 1:29 AM, Antariksh <notifications@github.com> wrote:

[2017-10-22 08:20] jermsam commented on #671
@antrix190 it's ok. Take it up if you can do that faster. I've been assigned some project that's very demanding... May not be as fast as may be required.

[2017-10-23 07:31] hendrikebbers commented on #685
The interesting part of the log is this one:

 2017-10-19 06:11:11.395  WARN 5294 --- [    Test worker] org.reflections.Reflections              : could not create Vfs.Dir from url. ignoring the exception and continuing

[code]

It looks like this is related to an issue of the reflections lib. Anyway we should try to handle this one better.

[2017-10-23 07:31] hendrikebbers commented on #685
See related issue for reflections library https://github.com/ronmamo/reflections/issues/204

[2017-10-24 06:06] hendrikebbers commented on #618
THX :)

[2017-10-24 06:06] #618 closed

[2017-10-24 06:07] #550 closed

[2017-10-24 06:08] #658 closed

[2017-10-24 06:08] #657 closed

[2017-10-24 06:09] #655 closed

[2017-10-24 06:10] hendrikebbers commented on #649
@vpondala interesting in creating custom docker containers that provide the needed infrastructure? In that case we can easily tag them on our own.

[2017-10-24 06:10] #633 closed

[2017-10-24 06:12] #626 closed

[2017-10-24 06:13] hendrikebbers opened #692 "SonarQube Upload from Travis is broken"
See https://github.com/canoo/dolphin-platform/issues/626

Travis failed the build because of SonarQube and I cannot understand, why it happened? As I see .travis.yaml should install all dependencies before bulding app, but it seems that there is some issue with SonarQube (here is the link to the build log):
https://travis-ci.org/canoo/dolphin-platform/builds/288251676?utm_source=github_status&utm_

[2017-10-24 06:16] #660 closed

[2017-10-24 06:16] hendrikebbers commented on #656
See https://github.com/canoo/dolphin-platform/pull/691

[2017-10-24 06:18] hendrikebbers commented on #656
see https://github.com/canoo/dolphin-platform/pull/691

[2017-10-24 06:18] #656 closed

[2017-10-24 06:19] hendrikebbers commented on #20
see https://github.com/canoo/dolphin-platform/pull/682

[2017-10-24 06:19] #20 closed

[2017-10-24 06:20] hendrikebbers opened #693 "Add "getName()" method to Toolkit interface"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Adding such a method would allow logging for the actual toolkit.

### 📋 Step by Step
- 🙋 Claim this issue: Comment below.
-

[2017-10-24 06:22] hendrikebbers opened #694 "Provide unit tests for IdentitySet"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The class ´ IdentitySet´can easily be tested but currently we have zero unit tests.

### 📋 Step by Step
- 🙋 Claim this issue

[2017-10-24 06:25] hendrikebbers opened #695 "Add common HTTP status codes to HttpStatus and move interface to public API"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
The interface currently only contains 3 status codes. Other can easily be added. Once it provides a good list it should be m

[2017-10-24 06:28] hendrikebbers opened #696 "Provide unit tests for SimpleUrlToAppDomainConverter"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently we do not have any unit test for the class. Since it do not depend on any other classes tests can easily be writte

[2017-10-24 06:52] krishnasameeth commented on #693
Hi there! im a first timer and im learning how to code! i was wondering if this problem could be solved by me and if it can whether i could claim this issue? thanks for your time!

[2017-10-24 06:58] rmoswela commented on #693
I will claim this one

[2017-10-24 07:26] rmoswela commented on #693
Hi, just completed the pull request, maybe someone can review it :-)

[2017-10-24 07:34] rahulp0491-fk commented on #695
I will claim this one !

[2017-10-24 08:18] Ampretuzo commented on #694
I'll do this.

[2017-10-24 08:48] bsemexan commented on #696
hi, I was wondering if a new folder needs to be created for this, or you have folder you would like this to be in.

[2017-10-24 14:03] blackdrag opened #698 "Invalid LIST_SPLICE command received"
with Dolphin 0.18.0:

[2017-10-24 15:59:49,040] [JavaFX Application Thread] ERROR com.canoo.dp.impl.remoting.collections.ListMapperImpl - Invalid LIST_SPLICE command received: com.canoo.dp.impl.client.legacy.ClientPresentationModel@74331c08
java.lang.NullPointerException
	at Foo.lambda$whenControllerProxyReady$10(Foo.java:238)
	at com.canoo.dp.impl.remoting.collections.ObservableArrayList.notifyEx

[2017-10-24 15:39] encschae commented on #696
If no one has claimed this yet, I'd like to work on it.

[2017-10-24 19:50] potapczuk commented on #696
I would like to claim it

[2017-10-24 20:08] #696 closed

[2017-10-24 20:10] #631 closed

[2017-10-24 20:12] #694 closed

[2017-10-24 20:14] joergsesterhenn commented on #631
Am 24.10.2017 um 22:10 schrieb Hendrik Ebbers:

Please close the other one as well:
https://github.com/canoo/dolphin-platform/pull/679

[2017-10-24 20:16] #654 closed

[2017-10-24 20:17] hendrikebbers commented on #654
👍

[2017-10-24 20:18] hendrikebbers commented on #654
@joergsesterhenn thank you very much for all the good contribution 👍

[2017-10-24 20:22] joergsesterhenn commented on #654
Thank you for all your feedback :) Was a fun experience. I learned a lot about git. Hacktoberfest is really a ingenious idea.

[2017-10-24 20:23] hendrikebbers commented on #654
yeah, like it. The first steps are always the hardest ;)

[2017-10-24 20:25] #444 closed

[2017-10-25 00:41] hastebrot opened #701 "JS client: Improve connect(), disconnect(), and reconnect option"
The `clientContext` should have the following methods:

- `connect()`, returns a `Promise`.
- `onConnect()`, returns a `Promise`.
- `disconnect()`, returns a `Promise`.
- `onDisconnect()`, returns a `Promise`.
- `configure(config)`, accepts a config object `{ reconnect: boolean, reconnectTimeout: number }`.

[2017-10-25 12:32] blackdrag opened #702 "provide a way for DP to communicate with the client outside of presentation models"
Right now DP provides one-way communication for a client to talk with the server with dolphin actions. But the server has only presentation models to communicate with the client. What is missing is a communication way outside of the presentation models.

Example: Let us assume I do have to load a list which will take 10 minutes of loading time on the server. Of course I do want to inform the user

[2017-10-25 13:02] joha78 commented on #702
+1 :-)

[2017-10-25 13:16] hendrikebbers commented on #702
Will be one of the first goals after 1.0 ;)

[2017-10-25 16:44] codedsun commented on #672
@hendrikebbers, hello I need to ask where to add this code?

[2017-10-25 19:23] bsemexan commented on #669
i assume you just provide this a URL, but what are you asserting it to?

[2017-10-26 05:22] suryaprakashraja commented on #695
Hi @hendrikebbers , I would like to work on this issue. Moreover I would like to know which public API we need to move this interface? I hope core module is pubic so can we move there?

[2017-10-26 06:02] hendrikebbers commented on #695
Public / private is not about the module but about the package. As you can see the modules have 2 main packages. ´com.canoo.platform´ is the base package for the public API

[2017-10-26 06:06] hendrikebbers commented on #672
@codedsun I already added the link to the repo? What exactly is your problem? Never worked on an maven archetype?

[2017-10-26 06:06] hendrikebbers commented on #671
@antrix190 go for it :)

[2017-10-26 06:26] codedsun commented on #672
nopes :(

[2017-10-26 06:26] codedsun commented on #672
I have to add this whole code as it is to pom.xml?

[2017-10-27 14:18] hastebrot opened #705 "Polymer: Re-enable SourceLabs testing"

[2017-10-27 14:18] hastebrot opened #706 "Polymer: Re-enable artifacts for Sonar"

[2017-10-27 14:19] #623 closed

[2017-10-27 14:21] hastebrot opened #707 "Internal Dolphin Platform specification"

[2017-10-27 14:23] #669 closed

[2017-10-27 14:31] hastebrot opened #708 "Prepare TODO list for next release"
We should have an issue template with TODO list points that we can reuse for a new release.

[2017-10-27 16:13] charley-padron commented on #693
I would like to try this one.

[2017-10-29 13:40] antrix190 commented on #671
@hendrikebbers I have made changes and created a PR. Please review.

[2017-10-31 14:50] hendrikebbers opened #710 "Build of master is broken based on missing gradle dependency"
Looks like the build of the master branch is broken based on a missing dependency for the gradle build:

[code]

This should be fixed asap ;)

[2017-10-31 14:52] hendrikebbers commented on #710
See https://travis-ci.org/canoo/dolphin-platform/builds/294394104

[2017-10-31 15:01] hastebrot commented on #710
The Gradle plugin jar is available on JCenter BinTray (the URL above). Strange.

[2017-10-31 15:04] hendrikebbers commented on #710
Yes, checked this too. I restarted the master build. Let‘s see what happens ;)

Von meinem iPhone gesendet

[2017-11-01 09:50] hendrikebbers opened #711 "Check ConverterFactory getTypeIdentifier & class type at start"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
If we have 2 same class types for conversion or 2 same unique identifiers the bootstrap should throw an exception. Instances

[2017-11-01 12:00] manish5196 opened #712 "retainAll() of ObserverableArrayList is not working"
Currently, retainAll() method of ObserableArrayList sending the event of retaining element as the removed element, while it should emit the changes for the removed element not retain element.

[2017-11-01 14:32] hendrikebbers opened #713 "DefaultModuleConfig should implement PlatformConfiguration"
DefaultModuleConfig should implement PlatformConfiguration instead of using static methods

[2017-11-01 14:38] hendrikebbers opened #714 "should UrlToAppDomainConverter use URI instead of URL?"
We need to check i f it makes sense to switch to URI in the UrlToAppDomainConverter.

[2017-11-01 14:54] hendrikebbers opened #715 "It must be able to deactivate a ServiceProvider"
Maybe a developer wants to provide it's own HttpClient implementation. In that case the basic HttpClient must be deactivated

[2017-11-01 14:58] hendrikebbers opened #716 "add PlatformClient getServices method to get list of all service types"
Currently you can not get an overview of all registered services at runtime. Maybe we can provide something like "service metadata" that contains all infos for one service

[2017-11-01 15:12] hendrikebbers opened #717 "Discuss workflow of HttpClient execution"
Should onDone / onError be called parallel to CompletableFuture?

This must be specified in JavaDoc!

[2017-11-01 15:13] hendrikebbers opened #718 "Should ClientSessionStore use URI?"
We need to discuss if it makes sense that ClientSessionStore use URI instead of URL

[2017-11-02 16:30] #636 closed

[2017-11-02 16:32] hendrikebbers commented on #673
@hastebrot can you maybe do this till next week? I need this when I do the next release

[2017-11-03 09:41] #715 closed

[2017-11-03 09:41] #716 closed

[2017-11-03 09:42] #693 closed

[2017-11-03 09:59] hendrikebbers opened #723 "ServerModule should provide better dependency mechanism"
Currently we use `List<String> getModuleDependencies()` and` @ModuleDefinition.order`

This should be changed to a better api.

[2017-11-03 11:00] hendrikebbers commented on #61
@manish5196 can you create an issue with the functionality that is still missing and link it to this issue. I will close this one.

[2017-11-03 11:00] #61 closed

[2017-11-05 04:04] manish5196 opened #726 "Sync sublist of observable list after adding element in base list"
Add element in the sublist of the observable list when adding an element in the base list. #721

[2017-11-07 10:04] timo0 opened #729 "Add custom remoting exception handler"
It would be desirable that we have a opportunity to add an remoting exception handler for the DP client.

[2017-11-07 12:25] hendrikebbers opened #730 "Make client configuration configurable in a file"
We should have the client configuration also located outside in a file.

[2017-11-07 12:26] #730 closed

[2017-11-07 12:31] hendrikebbers opened #731 "Create Default API for logging"
as title says

[2017-11-07 12:31] #731 closed

[2017-11-08 14:45] hendrikebbers opened #732 "Provide PlatformConfiguration.getProperty(String)"
PlatformConfiguration should provide a method that is working without passing a default value

[2017-11-08 15:03] Ampretuzo commented on #711
I'll check this out tomorrow.

[2017-11-09 09:56] hendrikebbers opened #733 "Exception should be thrown if distributed event bus is configured but not on class path"
Currently the eventbus is just null.

[2017-11-12 10:24] hendrikebbers opened #734 "Update to new reflection lib fills logs with warnings"
Since some (unused) spring classes depends on optional classes (groovy, etc.) that are not on the class path the scanner fills the log with several warnings

[2017-11-13 21:04] timo0 opened #736 "Make Hazelcast logger configurable"
Hazelcast uses his own logger and this is not changeable very easy. Provide a way to change this using DP.

see http://docs.hazelcast.org/docs/latest-development/manual/html/Setting_Up_Clusters/Logging_Configuration.html

[2017-11-14 14:36] blackdrag opened #737 "ClientSessionExecutorImpl#callLaterinClientSession swallows Exceptions"
DP 0.19

If in the task.call() an Exception is thrown the exception (for example a NPE) we do give the future the exception, but then nothing more happens. The exception does for example not appear in the log and is silently ignored.

[2017-11-22 10:12] #734 closed

[2017-11-22 10:27] hendrikebbers opened #740 "Polymer 2 controller element must support parent controller as provider for controller proxy"
Currently the attribute is named "clientContext". This is wrong since a controller can be created as a sub controller of another controller. In Java it is called "ControllerFactory" (Interface). Actually I do not think that this is the pergfect name for a HTML attribute ;)

[2017-11-22 11:45] hendrikebbers opened #741 "Update Java dependency to Java 8"
We will remove Java 7 support for 1.0 release. This will bring several impoveements in the public API.

[2017-11-22 12:40] hendrikebbers opened #742 "Add getName method to ServerModule"
Currently the name is part of the annotation. This is not really useable.

[2017-11-24 12:05] hendrikebbers opened #746 "If client & server model sources are not matching the exception is currently no help"
The exception should mention the property & bean that is the cause of the error.

[2017-11-24 12:05] hendrikebbers commented on #746
see https://github.com/canoo/dolphin-platform/pull/745

[2017-11-24 12:06] #746 closed

[2017-11-24 15:26] timo0 opened #747 "Fail start client if Toolkit is missing"
If you use JavaFX without using the default classes and annotations the headless toolkit will used and the application seams to work correctly.

Don't initialise with the default headless toolkit that the JavaFX app will fail to start with a proper message.

[2017-11-27 05:16] #712 closed

[2017-11-27 10:22] blackdrag opened #748 "wrong exception message on disconnect in dp legacy code"
DP 0.19.0

In our FX-Client I often get messages like this one here:
`ERROR com.canoo.dp.impl.platform.core.SimpleUncaughtExceptionHandler - Unhandled error in Dolphin Platform background thread Dolphin-Platform-Background-Thread-5
java.lang.IllegalStateException: Can not call disconnect on a disconnected connection
	at com.canoo.dp.impl.client.legacy.communication.AbstractClientConnector.disconne

[2017-11-29 07:00] kunsingh opened #750 "Integration Test - ActionController Tests are failing"
ActionControllerTest. callPrivateMethodWithSeveralBigDecimalParams [0](Payara)
ActionControllerTest. callPrivateMethodWithSeveralBigDecimalParams[2](Wildfly)
ActionControllerTest. callPrivateMethodWithSeveralBigIntegerParams[0](Payara)
ActionControllerTest. callPrivateMethodWithSeveralByteParams[0](Payara)
ConnectionTest. [testConnection[0](Payara)

[2017-12-04 11:29] blackdrag opened #751 "deadlock in unit test when waiting for effect of callLaterInClientSession"
DP 0.19.0

I have a controller setting a property value in a block executed with remotingContext.createSessionExecutor().callLaterInClientSession executed from the onInit of the controller. And I have a Unit test for that controller, which now has to wait for the property to be set. This seems to result in a deadlock

My wish would be for a way to wait till a certain property value is set, which s

[2017-12-05 09:11] hendrikebbers commented on #751
I added a sample application to DP that uses lazy loading
Next step will be controller tests.
See PR https://github.com/canoo/dolphin-platform/pull/753

[2017-12-05 09:59] hendrikebbers opened #754 "Sample for Lazy Loading"
We need a sample that shows lazy loading for the remoting layer

[2017-12-05 10:00] hendrikebbers commented on #754
see https://github.com/canoo/dolphin-platform/pull/753

[2017-12-05 10:00] #754 closed

[2017-12-05 10:00] hendrikebbers commented on #353
Sample for lazy loading added https://github.com/canoo/dolphin-platform/pull/753

[2017-12-05 10:00] #353 closed

[2017-12-05 11:29] hendrikebbers commented on #726
@kunsingh @manish5196 is this still open?

[2017-12-05 11:29] blackdrag commented on #751
from my test try:

        login("theUser");

        ControllerUnderTest<CaseSelectionBean> controller = createController(CONTROLLER_NAME);

        assertNotNull(controller);
        Property<String> casesProperty = controller.getModel().casesPropperty();
        AtomicReference<String> beforeSortString = new AtomicReference<>(null);
        CountDownLatch latch = new CountDownLatch(1);

[2017-12-05 11:29] hendrikebbers commented on #673
@hastebrot PING ;)

[2017-12-05 11:32] #674 closed

[2017-12-05 11:40] #698 closed

[2017-12-05 11:49] blackdrag commented on #483
seems to be no problem anymore

[2017-12-05 11:49] #483 closed

[2017-12-05 11:55] kunsingh commented on #726
Yes it is open....But why do we want to sync? Java does not sync and its a challenge also specially in case of addAll and retainAll.

[2017-12-05 12:01] hendrikebbers commented on #726
So this is currently working as Java is working in default?

[2017-12-06 08:33] kunsingh commented on #726
Let me look deeply...will get back on this.

[2017-12-06 12:47] hendrikebbers commented on #726
Ach the moment the list has the same behaviour as the ArrayList in Java. Based on the observable functionality we can add a real sync later. Added Future tag.

[2017-12-06 12:47] hendrikebbers commented on #718
Closed since this is duplicate of https://github.com/canoo/dolphin-platform/issues/714

[2017-12-06 12:47] #718 closed

[2017-12-06 14:27] hendrikebbers opened #756 "com.canoo.platform.remoting.spi.converter check for errors"
The converter API usage must internally be checked:
- No 2 converters that provide the same type
- No converters that use a non-JSON type

Maybe we can add a method that returns the JSON target type (String, number or boolean)
Maybe we can add a method that returns all supported types (to check internally that there is no conflict with types.)

[2017-12-06 14:54] hendrikebbers opened #757 "Should we rename "Dolphin*" public API?"
DolphinEventBus -> RemotingEventBus
DolphinModel -> Model
DolphinController -> Controller
DolphinAction -> Action

[2017-12-06 15:07] hendrikebbers opened #758 "With the Java 8 update we can remove EventFilter and use Predicate"
Based on that we can remove the `EventFilterFactory` and simply add the 2 filters (client & http) implementations to the public API

[2017-12-06 15:16] hendrikebbers opened #759 "Add Map support for params in client"
ControllerProxy should have:

CompletableFuture<Void> invoke(String actionName, Map<String, ?> params);

[2017-12-06 15:35] hendrikebbers opened #760 "Remove ControllerActionException(Throwable cause) constructor"
The constructor is never called and should not be called.

[2017-12-06 15:38] hendrikebbers opened #761 "Provide Action exception handling on the server"
For example provide `@ErrorHandler` to mark exception handling methods like it is done in Spring & JavaEE.

Error handler can be defined global or for a specific controller.

[2017-12-06 15:51] hendrikebbers opened #762 "Add ClientContext.addRemotingExceptionHandler(...) method"
This should be the place to add exception handler

[2017-12-06 15:53] hendrikebbers opened #763 "Add JavaDoc for client exceptions"
Define the differences between ControllerActionException and DolphinRemotingException.

[2017-12-06 15:59] hendrikebbers opened #764 "ControllerProxy.destroy() should handle server side error"
What happens for example if the @PostConstruct method on the server controller throws an exception...

[2017-12-06 16:02] hendrikebbers opened #765 "Check if ClientShutdownException & ClientInitializationException is really needed"
Maybe we can simply use the DolphinRemotingException here.

[2017-12-07 08:30] hendrikebbers commented on #729
duplicate of https://github.com/canoo/dolphin-platform/issues/762

[2017-12-07 08:30] #729 closed

[2017-12-07 13:17] hendrikebbers commented on #710
Just broke once. Maybe a temporal problem to download the dependency...

[2017-12-07 13:17] #710 closed

[2017-12-07 13:17] hendrikebbers commented on #692
Sonar upload by Travis is working again

[2017-12-07 13:17] #692 closed

[2017-12-07 13:17] hendrikebbers commented on #549
Upload is working again

[2017-12-07 13:17] #549 closed

[2017-12-07 13:19] hendrikebbers commented on #452
Integration test problem is fixed by https://github.com/canoo/dolphin-platform/pull/770

[2017-12-07 13:20] hendrikebbers commented on #596
Since we do not have a docker tag for the payara image the tests are currently deactivated (see https://github.com/canoo/dolphin-platform/pull/770)

[2017-12-07 14:07] #760 closed

[2017-12-07 14:07] #758 closed

[2017-12-07 14:07] #741 closed

[2017-12-07 14:08] #751 closed

[2017-12-07 14:08] #750 closed

[2017-12-07 14:09] #557 closed

[2017-12-07 14:09] hendrikebbers commented on #649
Tags are now available and added :)

[2017-12-07 14:09] #649 closed

[2017-12-07 15:17] hendrikebbers opened #772 "Remove Google Guava"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Currently we need the google guava dependency only because of `Multimap` usage in `BeanRepositoryImpl`. We should have a loo

[2017-12-08 09:13] #713 closed

[2017-12-08 09:14] hendrikebbers commented on #714
We should use URI in general in the public API

[2017-12-08 11:14] #759 closed

[2017-12-08 11:30] #736 closed

[2017-12-08 12:18] hendrikebbers commented on #475
@janakmulani can I close this issue???
@kunsingh can you ask him? ;)

[2017-12-08 12:23] hendrikebbers commented on #708
@hastebrot What do you mean?

[2017-12-10 10:38] #437 closed

[2017-12-10 10:38] #298 closed

[2017-12-10 10:40] hendrikebbers commented on #33
related to https://github.com/canoo/dolphin-platform/issues/761

[2017-12-10 10:41] #37 closed

[2017-12-10 10:41] #35 closed

[2017-12-10 10:42] #44 closed

[2017-12-10 10:44] #98 closed

[2017-12-12 12:08] #29 closed

[2017-12-14 08:32] #732 closed

[2017-12-14 16:52] blackdrag opened #779 "Unexpected end of JSON input"
DP 0.19.0:

I get the following error in my application:

beanmanager.js:73 An exception occurred while calling a general onBeanUpdate-handler SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at HTMLElement.jsonParse (elements.vulcanized.html:35184)
    at HTMLElement._annotatedComputationEffect (elements.vulcanized.html:5050)
    at HTMLElement._annotatedComputationPa

[2017-12-14 16:59] #779 closed

[2017-12-16 03:52] mohamadLy commented on #711
I want to take this issue, if it hasn't been claim yet.

[2017-12-16 06:41] kunsingh commented on #711
@mohamadLy Thanks for your interest. This issue is already resolved with some other issue and currently under review. No worry you can try other First Timer issues.

[2017-12-16 06:41] kunsingh commented on #711
This is related to #778

[2017-12-16 22:44] mohamadLy commented on #685
I can take this, if it's alright with you.

[2017-12-17 09:55] Jarota commented on #685
Absolutely, work away! :)

On 16 Dec 2017 10:44 pm, "Mohamadou Ly" <notifications@github.com> wrote:

[2017-12-17 19:26] mohamadLy commented on #685
@Jarota thanks for the opportunity

[2017-12-18 15:30] #711 closed

[2017-12-18 15:30] #756 closed

[2017-12-18 15:31] #462 closed

[2017-12-19 08:54] #714 closed

[2017-12-19 09:11] hendrikebbers opened #781 "date-time-converter module can be added to remoting-common"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Since the complete project now depends on Java 8 we do not need to externalise the support of Java 8 data types anymore. All

[2017-12-19 10:08] joha78 opened #782 "Keycloak security"
It would be very helpful if there would be an example how to integrate dolphin-security and how to configure keycloak for that.

For me authentification with keycloak only works if I disable dolphin-security on the server part of my app. For example commenting out @EnableSecurity. My javafx-client uses this code:

[code]

This code is in the java-fx-Client (with server dolphin-security disabled) a

[2017-12-19 11:03] hendrikebbers commented on #757
Idea:

DolphinEventBus -> RemotingEventBus
DolphinModel -> RemotingModel
DolphinController -> RemotingController
DolphinAction -> RemotingAction

@blackdrag what do you thing

[2017-12-19 13:30] hendrikebbers commented on #782
@joha78 maybe you can have a look at the PR if this fits your needs

[2017-12-19 15:26] #742 closed

[2017-12-20 07:23] kunsingh commented on #627
This is already done...hence closing.

[2017-12-20 07:23] #627 closed

[2017-12-20 08:53] #747 closed

[2017-12-20 09:05] hendrikebbers opened #787 "Define security realm by client"
The security module on the server already provides a way that the client can send the needed security realm and application. Currently there is no public API on the client to do so. This needs to be added.

[2017-12-20 12:40] #782 closed

[2017-12-20 13:00] jermsam opened #788 "spring-boot-archetype needs to be updated"
Good Work DP Team: Still finding it hard to jumpstart a dp 0.19.0 (or later) project though.

Noticed that The cmd; mvn archetype:generate -Dfilter=com.canoo.dolphin-platform: gives only versions for the spring-boot-archetype from 0.16.0 and earlier

Tried using 0.16.0 spring-boot-archetype and edited version to 0.19.0 then updated dependencies
but got errors that 0.19.0 dependencies are not avail

[2017-12-20 14:31] hendrikebbers opened #789 "JS project can not be build anymore"
Calling `gulp clean verify build` ends with an error:

[code]

Here is the complete shell protocol:

[code]

[2017-12-20 14:31] hendrikebbers commented on #789
@kunsingh @hastebrot  NEED HELP :)

[2017-12-21 11:28] kunsingh commented on #789
Its working fine on my machine. Machine dependent.

[2017-12-21 11:28] #789 closed

[2017-12-27 11:38] #733 closed

[2017-12-27 11:39] #765 closed

[2017-12-27 11:40] #781 closed

[2017-12-27 11:47] hendrikebbers commented on #288
This issue is related to all classes that part of a `legacy` package or subpackage.

[2017-12-27 11:48] hendrikebbers commented on #475
Added @kunsingh since @janakmulani is not answering...

[2017-12-29 02:10] hastebrot opened #794 "(feature) Polymer: Reintroduce dispatched events."
See old `src/behavior.js` (https://github.com/canoo/dolphin-platform-polymer/blob/0.18.0/src/behavior.js).

- `self.fire('controller-ready');`
- `self.fire('controller-destroyed');`

[2017-12-29 02:15] hastebrot commented on #794
Polymer v2 changed the `this.fire("event-name")` method call. Now we have to use

[code]

I'll change the semantics and remove `bubbles` and `composed`, which will set them to the `false` default. This means, we need to register event handlers directly on the `<dolphin-controller>` element: `controller.addEventListener("event-name", event -> {})`.

[2018-01-03 07:46] kunsingh commented on #695
@hendrikebbers This is already done.

[2018-01-03 07:55] hendrikebbers commented on #695
ok, will close it :)

[2018-01-03 07:55] #695 closed

[2018-01-03 10:28] hendrikebbers opened #795 "Install & Call Bower directly from NPM"
By doing so a user do not need to install bower and the same version is used for all users.

[2018-01-03 10:36] hendrikebbers opened #796 "Fix dependencies in Bower & NPM"
We should check that all dependencies in bower & NPM are defined as fix version instead of using something like "^1.8.0" etc.

[2018-01-03 11:54] #772 closed

[2018-01-04 05:40] kunsingh commented on #757
@madmas @blackdrag @netopyr @timo0 What you guys think?

[2018-01-04 05:47] janakmulani commented on #475
Hendrik,

Sorry for delay in replying. This issue was faced when were trying integrating a DP FX app inside ULC Portal and where ULC Portal client was started using JNLP.

Since this DP Fx integration into ULC Portal is not part of ULC release, this issue has been put on back burner. I have not had time to revisit this issue.

I still have the test app somewhere. I am giving it to Kunal to try it

[2018-01-04 08:12] netopyr commented on #757
I don't have much of an opinion.

[2018-01-04 10:10] hendrikebbers opened #798 "EventBus is not working in multiple sessions!"
Based on some API changes we have a bug in the eventbus.

[2018-01-04 10:36] #798 closed

[2018-01-04 10:41] hendrikebbers commented on #787
In Addition we need to define a list of possible realms in the server. Otherwise this will end in a security leak.

[2018-01-04 11:09] hendrikebbers commented on #381
Another Option would be Grcp

[2018-01-04 12:01] blackdrag commented on #757
The variant with Remoting in front looks better to me than the other one. But I wonder if it is good to rename at all.

[2018-01-04 20:41] madmas commented on #757
I think it looks and fits better, too. Renaming should IMHO definetly be done before the 1.0 release ;-)

[2018-01-06 13:34] hendrikebbers opened #802 "add final keyword to generated code of intelliJ plugin"
Example:

[code]

[2018-01-08 09:52] hendrikebbers opened #803 "Allow controller without a model"
Based on controller hierarchies it is possible to create controller that are just parents of some other controllers. This controllers do not need a model. Currently each controller must define a model.

[code]

[2018-01-08 13:21] hendrikebbers commented on #757
Some more information:

@madmas That's why I want to do it NOW ;)
@blackdrag Since the DP is growing and we have more modules and functionalities next to the remoting layer a name like `DolphinModel` is to generic. Maybe we have another feature / module where we need a general module class / definition. If we than name this by the feature (like `ValidationModel` for example) we would have one clas

[2018-01-08 15:35] blackdrag commented on #757
If 'DolphinModel' is too general, then just 'Model' is even more general. I guess that eliminates this Variant. Then go with the 'Remoting'-prefix

[2018-01-09 14:54] timo0 opened #805 "Test EventBus in Controllertests"
I'm not able to test a Controller if he is change by the EventBus which is called outside of a other controller.

[2018-01-09 15:06] timo0 commented on #802
This is a setting in IntelliJ please see attached screen shot:
![screen shot](https://user-images.githubusercontent.com/1241026/34727351-ef521596-f556-11e7-822c-09ab0dc0ee77.png)

[2018-01-09 15:06] #802 closed

[2018-01-09 15:10] timo0 commented on #757
sounds like a may search and replace actions ;-)

[2018-01-10 10:40] #538 closed

[2018-01-10 11:47] #717 closed

[2018-01-12 09:35] hendrikebbers opened #806 "Exception that is thrown in event bus listener is not logged"
If an eventbus listener throws a RuntimeException the exception won't be shown in the log.

[2018-01-12 10:42] kunsingh commented on #475
Unable to launch JNLP -
While Debugging I found followings :-
- Service loader is not able to load all the classes and that's why its failing.
- Manifest.MF file is blank

To Debug-
- Create a remote debug configuration in Idea
agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5006
- gradle clean build - web-deployment-server and deploy war to Tomcat
- Start the Tomcat server
- open oth

[2018-01-12 11:08] kunsingh opened #808 "There should be dolphin-platform-polymer.js to include in Dolphin platform Polymer project"
Currently we directly include -

`<link rel="import" href="bower_components/dolphin-platform-polymer/dolphin-controller.html">`
and
`<script src="bower_components/dolphin-platform-js/dist/dolphin-platform.js"></script>`

This creates confusion - In bower we included  'dolphin-platform-polymer' but we are not including that anywhere.

[2018-01-12 11:09] hendrikebbers commented on #299
@aalmiray can you have a look how we can easily do this in gradle and add a PR?

[2018-01-12 11:28] blackdrag opened #810 "On Polling Error"
the javascript console shows the following;
DOLPHIN (on polling error): PlatformHttpTransmitter: Parse error: (Incorrect response = [{"id":"DeletePresentationModelCommand","p_id":"dda6ed35-2ea3-4dce-b82f-0f7c00c7a3aa"},{"id":"DeletePresentationModelCommand","p_id":"b68735e3-65fa-476e-bffe-b11e06cea305"},{"id":"DeletePresentationModelCommand","p_id":"2480c461-eda7-418d-b245-34acbcb8121f"},{"id":"De

[2018-01-12 11:37] hastebrot commented on #810
Addendum: This error message is basically produces by following code:

[code]

[2018-01-14 17:56] #757 closed

[2018-01-15 10:26] #517 closed

[2018-01-15 13:03] hendrikebbers commented on #810
@blackdrag

DP javascript client version: 0.18.0

Have you tested this with same version on server & client?

[2018-01-15 13:04] hendrikebbers opened #814 "Refactor folders of images for JavaDoc"
See @aalmiray comment here: https://github.com/canoo/dolphin-platform/pull/813

[2018-01-15 13:48] #299 closed

[2018-01-15 16:39] blackdrag commented on #810
there is no 0.19.0 javascript client I believe

[2018-01-16 08:13] kunsingh commented on #602
Same as #231

[2018-01-16 09:37] hendrikebbers commented on #602
Closed since this is a duplicate

[2018-01-16 09:37] #602 closed

[2018-01-16 09:40] #806 closed

[2018-01-16 14:52] hendrikebbers opened #816 "Equals implementation is missing for properties"
currently the property and not the content is checked.

[2018-01-16 15:28] #816 closed

[2018-01-17 09:18] giftkugel opened #817 "Add version information to the console.log output"
Add version information to the console.log output
This would add better information for debugging

[2018-01-18 12:10] hendrikebbers opened #821 "Use wiremock instead of Spark for HTTP unit tests"
See http://wiremock.org/docs/getting-started/

[2018-01-19 11:38] blackdrag commented on #810
0.18.0 is the latest Polymer 1 client, 0.19.0+ is already Polymer 2

[2018-01-22 09:17] #795 closed

[2018-01-22 09:18] hendrikebbers commented on #796
Done for dolphin-platform-js

[2018-01-22 09:19] #231 closed

[2018-01-22 12:26] giftkugel opened #825 "Use Web Workers to do the AJAX work in another Thread"
I think it would be quite good to move the AJAX related work into a Web Worker. So the `LongPoll` Command and the other Commands could be send and received by a separate Thread inside the Browser.

Web Works are supported down to IE10.
[Can I use Web Workers](https://caniuse.com/#feat=webworkers)
[Worker() @ MDN](https://developer.mozilla.org/en-US/docs/Web/API/Worker/Worker)

I would prefer to us

[2018-01-22 13:54] giftkugel commented on #825
Any opinion to this topic from @blackdrag @kunsingh @Dierk @madmas @timo0 ?

[2018-01-22 14:00] giftkugel opened #826 "List of Browser versions"
Currently there is no list of Browser versions which should be supported by the dolphin-platform-js, dolphin-platform-polymer and dolphin-platform-angularjs.

Maybe we should add such a list.

[2018-01-22 14:08] Dierk commented on #825
Will be difficult to get the command batcher to work ...

Dierk

sent from:mobile

[2018-01-23 17:57] hendrikebbers commented on #826
What I think about browser support:

- IE: The version that comes with Windows 7
- Safari, Chrome, Firefox: Maybe the versions of the last 2 years?

@Dierk @madmas @kunsingh @blackdrag  What do you think?

[2018-01-23 17:59] hendrikebbers commented on #825
@Dierk why do you think that? In Java there were 2 threads since the beginning. The command batcher is only attached to the basic thread that handles all the normal commands since the second thread is only used for interrupting the long poll.

[2018-01-23 18:24] hendrikebbers opened #829 "Add DP version to log"
Java version of issue https://github.com/canoo/dolphin-platform/issues/817

[2018-01-24 09:55] hendrikebbers opened #831 "Add a sample with a plain JS client"
Currently we only have Polymer & Angular based samples.

[2018-01-24 14:10] blackdrag commented on #737
The test does not test the scenario I have a problem with. In my scenario nobody calls get(), thus no exception is thrown, which is exactly my problem. Additionally I have no control over the Future here, this is completely internally in Dolphin

[2018-01-24 19:36] hendrikebbers commented on #737
@blackdrag so you would love to see a unhandled exception in that case in the log?

[2018-01-25 07:04] hendrikebbers commented on #407
@kunsingh can you please link this to your merged PR and than close the issue

[2018-01-25 07:20] #829 closed

[2018-01-25 07:23] hendrikebbers opened #833 "Configure Keycloak docker container for direct use in samples"
Currently the "Client" must be removed and recreated in Keycloak

[2018-01-25 08:12] giftkugel commented on #826
You can check the overall usage of browser versions at [https://caniuse.com/usage-table](https://caniuse.com/usage-table)

Please also check:
[Web Components browser support](https://github.com/webcomponents/webcomponentsjs#browser-support)
[Polymer 2.0 browser support](https://www.polymer-project.org/2.0/docs/browsers)
[AngularJS Internet Explorer Compatibility](https://docs.angularjs.org/guide/i

[2018-01-25 08:21] #817 closed

[2018-01-25 08:21] #407 closed

[2018-01-26 09:10] hastebrot commented on #620
Closing. This is implemented in the current Polymer client.

[2018-01-26 09:10] #620 closed

[2018-01-29 09:18] blackdrag commented on #737
Having it at least in the log would be wonderful

[2018-01-29 15:03] hendrikebbers opened #836 "Polymer 2 "dolphin-controller" element is missing listener for lifecycle"
With the Polymer 1 support is was quite easy to define methods that were called when the controller proxy was created or destroyed. Since with Polymer 2 we now have a custom component this functionality is missing.

I would say that something like this should work:

[code]

If there is a better option to define such API feel free to describe it :) For me it is just important that I can react on co

[2018-01-30 08:30] hendrikebbers opened #837 "Dolphin-Controller Polymer 2 componente do not update all model parts"
In a sample I checked the update behaviour of models in the new polymer component and found some cases in that model updates do not trigger polymer. Based on that the view is not updated.

[2018-01-30 08:35] hendrikebbers commented on #836
[sample.zip](https://github.com/canoo/dolphin-platform/files/1676852/sample.zip)
Sample project that contains the problem

[2018-01-30 08:35] hendrikebbers commented on #837
[sample.zip](https://github.com/canoo/dolphin-platform/files/1676854/sample.zip)
Sample project that contains the problem

[2018-01-30 08:35] hastebrot commented on #837
I'll look into that.

[2018-01-30 08:41] hastebrot commented on #837
The `model` in `<workbench-view>` is `{}`.

[2018-01-30 08:42] hendrikebbers commented on #837
no,the problem is in `detail-view`

[2018-01-30 08:55] hastebrot commented on #837
The `<app-router>` (https://github.com/erikringsmuth/app-router) in `<workbench-view>` also causes problems unrelated to `<dolphin-controller>`.

[2018-01-30 09:10] hastebrot commented on #837
In `detail-view.html`

[code]

will give me `{"name":"","description":"","id":null}`.

[2018-01-30 09:17] hastebrot commented on #837
When I manually set `this.id = 1` in `ready()`, then `this.$.controller.model` will be `{"name":"TestValue","description":"Die ist die Beschreibung für Item 1...","id":1}`.

[2018-01-30 09:35] hastebrot commented on #837
This is strange and needs more investigation.

In `dolphin-controller.html`:

[code]

Will cause the `model.description` property to be updated to the values mentioned above. I guess one of the explicit notifications for property changes to Polymer failed somehow.

[2018-01-30 09:54] hendrikebbers commented on #837
@hastebrot
[code]

^^This error was not shown in my Chrome.

To see the problem: Open the client and click on any item in the list. Then you see the detail-view and only the `ID` is shown the the view. `Name` and `description` is empty. I debugged this and saw that the values in the `model` item of the `dolphin-controller` component are not `null`. The problem is in the `dolphin-controller` compon

[2018-01-30 09:59] hastebrot commented on #837
In my case the `if` case is handled at least one time with `propertyPath = "model.description"` and `newValue` with a non-empty string. However `this.set()` does not cause the properties in the Polymer template to be updated, despite `description` in `model` set to a non-empty string.

[2018-01-30 10:16] hastebrot commented on #837
Problem identified.
The `dolphin-controller>`s in `detail-view.html` and `workbench-view.html` share one bean manager. This will cause the callback to be called twice.

[code]

[2018-01-30 10:34] hastebrot commented on #836
Related to https://github.com/canoo/dolphin-platform-polymer/pull/18.

[2018-01-31 13:40] hendrikebbers opened #839 "Provide public Snapshot releases"
Currently there are no snapshot release published of DP.

[2018-01-31 17:02] jermsam commented on #837
then, what's the solution @hastebrot ?

[2018-01-31 21:13] hastebrot commented on #837
@jermsam Best solution is to add a feature to `dolphin-platform-js` that gives us the bean manager for a certain controller. Still needs to be implemented.

[code]

[2018-02-02 17:35] hastebrot commented on #837
This needs to be investigated further. I want to reproduce this issue with the DP Polymer v1 client.

[2018-02-02 19:45] hastebrot commented on #837
Console output for Polymer v1 client (using modified `dolphin-platform-polymer.js`):

[code]

[code]

Console output for Polymer v2 client (using modified `dolphin-controller.html`):

[code]

[code]

[2018-02-02 20:07] hastebrot commented on #837
More console output (using modified `dolphin-platform-polymer.js`):

[code]

[code]

[2018-02-02 20:09] hendrikebbers commented on #837
@hastebrot Together with @giftkugel we found a working solution. He has already created a fix for the Polymer repo and will create a PR at the beginning of next week. So I think you do not need to invest time here at the moment. Sorry, missed to add this to the issue.

[2018-02-03 15:01] hendrikebbers commented on #796
@giftkugel can you check Angular & polymer repo and fix this the next weeks. Than we can easily close this issue with the next release

[2018-02-08 04:48] #787 closed

[2018-02-08 04:48] #603 closed

[2018-02-12 07:28] hendrikebbers opened #841 "Provide W3C Server Timing support with default metrics"
The W3C defined with the server timing feature (see https://w3c.github.io/server-timing/) a way to show sever metrics on the client. Chrome will support this with version 65 (https://blog.chromium.org/2018/02/chrome-65-beta-css-paint-api-and.html). We should add this as default to the core. Default metrics / values should be added to each request based on a boolean config flag.

[2018-02-12 07:36] hendrikebbers opened #842 "Adding TypeScript definition for JS core to DefinitelyTyped repo"
See https://github.com/DefinitelyTyped/DefinitelyTyped

[2018-02-12 18:49] hastebrot commented on #842
You can use https://github.com/canoo/dolphin-platform-polymer/blob/8de742961b98e2912087798df7af024943d9e899/declarations/dolphin-platform-js.d.ts as starting point for the `d.ts` file.

[2018-02-12 18:53] hastebrot commented on #837
For the record: In the Polymer v1 client we use one `Binder` per `BeanManager`/`ClientContext. The update handlers call `element.set()` and `element.splice()`, respectively. This means the "bean registry" also has to register the Polymer `element` in order to call these methods.

[2018-02-12 22:32] hendrikebbers commented on #837
@hastebrot sorry but I do not understand what you want to say :( Do you see any problem? Bug in Polymer 1 support? Missing feature in Polymer 2 support?

[2018-02-15 10:09] giftkugel opened #845 "Angular Client must call unsubscribe from the BeanManager"
Currently the Angular Client adds some handler to the `beanManager`.
[code]
But the `onAdded`, `onRemoved`, `onBeanUpdate` and `onArrayUpdate` methods return an object with the unsubscribe method. This result must be stored and the unsubscribe method must be called  for every handler when the client is destroyed. At the moment the Angular client does not unsubscribe form the BeanManager so the bea

[2018-02-15 15:11] joha78 opened #846 "Dolphin specific http headers should begin with "X-""
This would make the use of a reverse proxy a lot easier because usually these headers beginning with X- are automatically forwarded.

[2018-02-19 07:30] #841 closed

[2018-02-19 07:30] #737 closed

[2018-02-19 07:31] #761 closed

[2018-02-19 07:36] giftkugel commented on #837
The problem does not exist in the new version of the controller. The example is working right now with the `<remoting-controller>`.

[2018-02-19 07:36] #837 closed

[2018-02-19 07:39] #836 closed

[2018-02-19 07:41] giftkugel commented on #836
With the new controller it's possible to receive the events for connect and disconnect. `<remoting-controller on-connect="methodName" on-disconnect="othermethodName"></remoting-controller>`

[2018-02-19 07:44] #796 closed

[2018-02-19 07:44] hendrikebbers opened #854 "Fix versions for all JS dependencies"
In the JS libs we still have some `A.B.x` dependencies. I would prefer to depend on real fix versions.

[2018-02-19 08:36] giftkugel opened #855 "Remove "bower install --force-latest""
We have to remove `bower install --force-latest` from the build (`.travis.yml`).
I think the "--force-latest" option was used here to resolve version conflicts and to force Bower to use the latest version. Be in that case we don't know which version will be used in the build. We have to remove the option and resolve the correct version in the `bower.json` with the "resolutions" block.

[https://ja

[2018-02-21 05:59] kunsingh commented on #788
Done.

[2018-02-21 05:59] #788 closed

[2018-02-21 08:26] joha78 opened #856 "Passwords with special characters"
In the latest version of the platform.  With activated security in proxy mode.  A password with special characters (in our case it was a “+” ) set via keycloak will not be accepted by the dolphin security client

[2018-02-21 08:30] joha78 opened #857 "Model binding via qualifier does not work"
If I have two controllers  and connect a property between them via a qualifier I get a NPE when I set one of the two property values to null.  I can tell that this is for the latest version and that one before.

[2018-02-21 10:20] hendrikebbers opened #858 "support different Security workflows"
- client defines realm
- server defines realm

[2018-02-21 10:20] hendrikebbers commented on #858
see #851
see #848

[2018-02-21 10:33] #592 closed

[2018-02-21 10:35] hendrikebbers commented on #673
We have release scripts now.

[2018-02-21 10:35] #673 closed

[2018-02-21 10:35] hendrikebbers opened #859 "Add usage of release scripts to documentation"
the chapter must be rewritten based on the release scripts

[2018-02-21 10:42] #532 closed

[2018-02-21 14:38] jermsam commented on #788
Finally! Thanks Team.

[2018-02-22 00:30] joha78 opened #860 "Keycloak Access Token"
The Keycloak Access Token has a limited life period. With the default keycloak config it lasts only 5 minutes. Dolphin platform should renew the token, but it does not. Communication terminates abruptly because of this.

I was using security module in proxy mode.

[2018-02-22 07:31] kunsingh commented on #855
Fixed.

[2018-02-22 07:31] #855 closed

[2018-03-06 06:00] kunsingh opened #861 "Service provider with same name in dolphin-platform-client and dolphin-platform-remoting-client"
This is creating problem while creating jar of client. It copies only first occurrence from dolphin-platform-remoting-client and it has only entry for 'com.canoo.dp.impl.client.ClientContextFactoryProvider'

Calling javafx client through jnlp is failing due to this.

This will also fix - https://github.com/canoo/dolphin-platform/issues/475

[2018-03-06 06:01] kunsingh commented on #475
Fix depends on - https://github.com/canoo/dolphin-platform/issues/861

[2018-03-06 07:42] hendrikebbers commented on #861
This is not an error / Problem of the framework but just of the app build. The SPI filed must be merged at buildtime if you pack everything in a fat jar. Since SPI is a standard there will be several samples online. This issue can be closed

Von meinem iPhone gesendet

[2018-03-06 08:29] kunsingh commented on #861
ok...I will close this issue.

[2018-03-07 06:32] #861 closed

[2018-03-07 08:14] #475 closed

[2018-03-09 04:53] #854 closed

[2018-03-09 14:28] hendrikebbers opened #864 "dolphin.properties & application.properties in Spring boot not work together"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
If you use Spring Boot you normally define all properties in 'application.properties'. Dolphin Platform supports this proper

[2018-03-10 13:37] #708 closed

[2018-03-10 13:39] hendrikebbers commented on #610
we should depend on https://micrometer.io

[2018-03-14 07:25] aftabthedeveloper commented on #864
Hi, I am a new in Open Source and it will be my first contribution to Open Source. I would like to claim this issue

[2018-03-15 13:02] giftkugel commented on #614
We currently have `342 passing (410ms)` tests for the `dolphin-platform-js 1.0.0-CR.4` with a coverage of `>=90%`
Current command for Mocha tests is: `npm test`
Current command for Mocha tests with code coverage is: `test:coverage`
We also do mutation testing for the `dolphin-platform-js` repository. The command is: `test:mutation`

[2018-03-16 08:45] giftkugel opened #867 "Add more unit tests to the JavaScript client"
Hi,

we need more tests for the JavaScript client.

Regards
Simon

[2018-03-16 08:45] giftkugel commented on #867
We currently have `342 passing (410ms)` tests for the `dolphin-platform-js 1.0.0-CR.4` with a coverage of `>=90%`
Current command for Mocha tests is: `npm test`
Current command for Mocha tests with code coverage is: `test:coverage`
We also do mutation testing for the `dolphin-platform-js` repository. The command is: `test:mutation`

[2018-03-16 08:45] #867 closed

[2018-03-16 08:46] giftkugel opened #868 "Add code coverage to the tests for the JavaScript client."
Hi,

would be nice to see the code coverage for the JavaScript client.

Regards
Simon

[2018-03-16 08:47] giftkugel commented on #868
We currently have `342 passing (410ms)` tests for the `dolphin-platform-js 1.0.0-CR.4` with a coverage of `>=90%`
Current command for Mocha tests is: `npm test`
Current command for Mocha tests with code coverage is: `test:coverage`
We also do mutation testing for the `dolphin-platform-js` repository. The command is: `test:mutation`

[2018-03-16 08:47] #868 closed

[2018-03-16 08:48] giftkugel opened #869 "Add mutation testing to the JavaScript client tests."
Hi,

we should add mutation testing to the tests for the JavaScript client.
Mutation testing will allow us to see the quality of our tests.

Regards
Simon

[2018-03-16 08:48] giftkugel commented on #869
We currently have `342 passing (410ms)` tests for the `dolphin-platform-js 1.0.0-CR.4` with a coverage of `>=90%`
Current command for Mocha tests is: `npm test`
Current command for Mocha tests with code coverage is: `test:coverage`
We also do mutation testing for the `dolphin-platform-js` repository. The command is: `test:mutation`

[2018-03-16 08:48] #869 closed

[2018-03-16 08:52] giftkugel opened #870 "Update ssri due to CVE-2018-7651"
Hi,

some sub-dependencies are using an outdated version of ssri.
We must enforce a newer version of ssri to remove the vulnerability in our project.

Regards
Simon

[2018-03-16 08:54] giftkugel commented on #870
Fixed with [Fix for CVE-2018-7651](https://github.com/canoo/dolphin-platform-js/commit/3f979335349add14532c6c4a2c354bd32eb08abd)

[2018-03-16 08:54] #870 closed

[2018-03-16 09:13] giftkugel commented on #619
The JavaScript client now contains the following NPM scripts `npm run <command>`

`clean` = Delete all build and test folders
`clean:all `= Like `clean`, but also removes the _node_modules_ folder
`build` = Start the Webpack build
`build:install` = Like `build` but will do an `npm install` before the build
`test `= Start the Mocha unit tests
`test:mocha` = Same as test
`test:coverage` = Start the

[2018-03-16 09:13] #619 closed

[2018-03-16 09:17] giftkugel opened #871 "Add more unit tests to the Polymer client"
Hi,

we need more tests for the JavaScript client.

Regards
Simon

Related to #614

[2018-03-16 09:18] giftkugel opened #872 "Add more unit tests to the AngularJS client"
Hi,

we need more tests for the AngularJS client.

Regards
Simon

Related to #614

[2018-03-16 09:19] giftkugel commented on #614
Closed, because the issue is splitted into #867, #871 and #872

[2018-03-16 09:19] #614 closed

[2018-03-16 09:30] giftkugel commented on #609
The JavaScript client has now an implementation of a HTTP client.
The HTTP client API is nearly the same as the Java version.

For example:
`platformClient.getService('HttpClient').get('./index.html').withoutContent().readObject().execute().then(function(t) { console.log(t); });`

[2018-03-16 09:30] #609 closed

[2018-03-16 09:30] giftkugel commented on #825
The JavaScript client now contains an implementation of a HTTP Client (#609) which is used in the remoting part of the JavaScript client.
The HTTP Client supports the usage of Web Workers but will only use a Web Worker if the current Browser supports Web Workers. The Web Worker is bundle inside the JavaScript client, so we don't have to provide another JS file.
At the moment only a single LongPoll

[2018-03-16 09:30] #825 closed

[2018-03-16 09:47] giftkugel commented on #591
The "private" API is now defined through Webpack. Webpack creates the lib for us.
With the next version the `platformClient` keyword/object will be introduced to the JavaScript client. The older `dolphin` keyword/object will still be accessible due to backward compatibility. So `dolphin.ClientContextFactory` will still be there but will show a deprecation warning.

[2018-03-16 09:47] #591 closed

[2018-03-18 12:49] hendrikebbers opened #873 "Provide URLBuilder for HTTP client"
currently the HTTP client needs code like:

`httpClient.get(discoveryServiceEndpoint + "/services/" + namespace + "/" + name)`

This can end in errors and unreadable code. We should provide a builder with support of replaceable values like in SLFJ messages: https://www.slf4j.org/api/org/slf4j/helpers/MessageFormatter.html

[2018-03-19 05:05] #803 closed

[2018-03-19 10:11] hendrikebbers commented on #864
@aftabthedeveloper sure :)

[2018-03-19 11:08] aftabthedeveloper commented on #864
Thank You

[2018-03-21 14:32] #873 closed

[2018-03-21 14:33] #833 closed

[2018-03-22 10:05] hendrikebbers opened #882 "dolphinPlatform.servletMapping not working"
### 🆕🐥:dog: First Timers Only
This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

### :space_invader: Description of the issue
Defining a Spring boot server with the following property in `application.properties`:
`dolphinPlatform.servletMapping=/remo

[2018-03-22 10:07] giftkugel opened #883 "Add an implementation for security into the JavaScript core"
The JavaScript core should have a Security API which allows to login/logout and access secured resources with the provided HTTPClient.

[2018-03-22 11:25] blackdrag opened #884 "Distributed Eventbus Event handling exception"
ERROR com.hazelcast.client.spi.ClientListenerService - hz.client_0_xyz.event-7 caught an exception while processing task:com.hazelcast.client.spi.impl.listener.ClientListenerServiceImpl$ClientEventProcessor@10b9f532
java.lang.RuntimeException: Internal Error! No session id defined for event bus listener!
	at com.canoo.dp.impl.server.event.AbstractEventBus.triggerEventHandling(AbstractEventBus.java

[2018-03-22 13:10] giftkugel commented on #846
Fix with https://github.com/canoo/dolphin-platform/pull/849

[2018-03-22 13:10] #846 closed

[2018-03-22 13:25] #883 closed

[2018-03-22 13:29] #856 closed

[2018-03-22 13:31] #845 closed

[2018-03-28 10:03] giftkugel opened #888 "Add missing security HTTP headers for appName and realm"
Add missing security headers for appName and realm.
The SecurityHttpClientInterceptor should use the appName and realm used in configuration to set the HTTP headers.

[2018-03-28 10:59] #858 closed

[2018-03-28 13:36] hendrikebbers opened #889 "Provide windows scripts for containers in examples"
Currently we only have unix based scripts.
See: https://github.com/canoo/dolphin-platform-examples/tree/master/simple-security/keycloak-container

[2018-03-29 15:34] hendrikebbers commented on #610
Metrics are committed. Sample should be added in the next version.

[2018-04-01 20:33] joha78 opened #894 "Keycloak unavailable undistinguishable from "Invalid login!""
This is not really an issue, but in the client it is not distinguishable whether

security.login(user, password)

failed because the keycloak server is down or because the password was wrong because both cases report the same Exception / message.

[2018-04-03 00:12] shamlymackey commented on #882
Hey! Can I try this issue please?

[2018-04-03 05:42] hendrikebbers commented on #882
@shamlymackey sure :)

[2018-04-03 05:57] hendrikebbers commented on #894
An invalid Login currently throws `DolphinRuntimeException("Invalid login!")` and a not reachable server will end in an DolphinRuntimeException with a different message. Yes, I think it makes sense to create a new exception type. Both Java & Spring already define a `AuthenticationException` so I think we should use a different name.

[2018-04-03 06:00] kunsingh commented on #884
Do we really have this issue? I have created 2 projects recently using distributed event bus(hazelcast) but never get this exception.

[2018-04-03 06:05] hendrikebbers commented on #884
yes. But this is an edge case that can happen based on a missing concurrent lock in our event bus implementation.

[2018-04-03 06:07] hendrikebbers commented on #884
This happens if an event is send in the same moment as a session that holds an listener for that event is destroyed. In that case the listener will be removed automatically. removing all listeners for a session and iterating over all listeners for handling an event is not synchronised. Therefore a listener that is removed in the same moment (and therefore do not have a session anymore) can be trig

[2018-04-04 14:04] #888 closed

[2018-04-04 14:04] #859 closed

[2018-04-05 09:16] hendrikebbers opened #895 "Platform logo looks bad on eclipse / win"
This is how the logo looks like:
![image001](https://user-images.githubusercontent.com/9443847/38357365-b10eee26-38c2-11e8-86a9-5fae8987a07b.png)

[2018-04-05 11:41] hendrikebbers commented on #895
Same for logging...
![image002](https://user-images.githubusercontent.com/9443847/38363996-18af60e2-38d7-11e8-82af-4a71ce449211.png)

[2018-04-11 10:44] blackdrag opened #901 "ObserveableList.remove(from,to) is broken"
using Dolphin Platform 1.0-CR3 I have the following situation:
* ObservableList of size 5
* calling remove(0,3) on it
* get :

   java.lang.IndexOutOfBoundsException: toIndex = 3

	at java.util.ArrayList.subListRangeCheck(ArrayList.java:1004)
	at java.util.ArrayList.subList(ArrayList.java:996)
	at com.canoo.dp.impl.remoting.collections.ObservableArrayList.subList(ObservableArrayList.java:283)
	at

[2018-04-11 10:45] blackdrag commented on #901
I spend no extensive look at master, but the code in ListMapperImpl.processEvent looks the same, so I assume this problem exists in Master as well

[2018-04-11 15:59] kunsingh commented on #901
I have tried with a simple test...and I have not get any exception. Am I missing something in below code?
`

    public void testRemoveByIndexPositions() {
        //given
        final ObservableArrayList<String> list = new ObservableArrayList<>();
        list.addAll("1", "2", "3", "4", "5");
        list.remove(0,3);
        Assert.assertEquals(list.size(), 2);
    }
`

[2018-04-11 16:01] hendrikebbers commented on #901
@kunsingh good question. Can you please commit this as a unit test :)

@blackdrag looks like it is working in a basic tests. Do you have more info?

[2018-04-12 08:00] blackdrag commented on #901
I don't think you get to

com.canoo.dp.impl.server.model.ServerBeanBuilderImpl$1.notifyInternalListeners(ServerBeanBuilderImpl.java:69)

with that test. or do you?

[2018-04-12 08:06] blackdrag commented on #901
ObservableArrayList#notifyInternalListeners is an empty protected method, so I think we are actually working on a subclass of this. So maybe try the test again involving ServerBeanBuilderImpl#create(PropertyInfo,PresentationModel,ListMapper)

[2018-04-16 12:57] hendrikebbers commented on #51
See https://github.com/canoo/dolphin-platform/issues/103

[2018-04-17 08:29] #901 closed

[2018-05-03 05:41] manish5196 opened #906 "Unable to Parse DeletePresentationModelCommand Command"
Javascript client unable to parse DeletePresentationModelCommand

Error:
PlatformHttpTransmitter: Parse error: (Incorrect response = [{"id":"DeletePresentationModelCommand","p_id":"2637ace8-6a52-454b-87ac-2c226e90443b"},{"id":"DeletePresentationModelCommand","p_id":"9e67daf6-76ea-4f30-a6e7-2998503ec478"},{"id":"DeletePresentationModelCommand","p_id":"ade3360e-0905-4fb2-b6f6-3a7cdcd20ba7"},{"id":"D

[2018-05-04 06:10] #906 closed

[2018-05-07 06:31] hastebrot opened #908 "(feature) Polymer: Remoting controller for Polymer 3."
Google will release Polymer 3 at Google I/O 2018 this week (conference sessions on May 9th). With Polymer 3 we'll still have the option to use `<remoting-controller>` as mixin for `PolymerElement`. But the stated goal of the Polymer team it to allow lighter and more loosely coupled elements, hence they'll introduce `LitElement` (headed for 1.0 release in the coming months). This new Web Component

[2018-05-08 11:52] hastebrot commented on #908
Regarding `LitElement`, `lit-html`, and redux stores. I played a bit with Dolphin Platform and found following obstacles:

- **Dolphin ▶️ redux ▶️ `LitElement`:** Using the Dolphin's approach to identify beans by object reference and redux's nature (freeze'd objects) give some obstacles. Redux has the concept of selectors (see: `reselect` [1]) which could be helpful to specify changes/splices to b

[2018-05-24 09:22] hendrikebbers opened #909 "SimpleDateFormat is not thread save"
The DateConverter of DP uses a SimpleDateFormat instance internally. This instance is used for all convert calls. Since all DateConverters are singletons the same SimpleDateFormat instance will be used for all calls. On the server this means that the same instance will be reused for all clients.

The problem here ist, that the SimpleDateFormat instance can not be used in parallel. Therefore we nee

[2018-05-24 15:11] joha78 opened #910 "realmName not used in dolphin-platform-js with dynamic realm"
In keycloakConnection.createServerProxyConnection() is the parameter for "realmName" missing. The realmName should be added as request header in keycloakConnection.createServerProxyConnection().

The missed header is named: X-platform-security-realm

With best regards
Jörg

[2018-05-25 09:38] hendrikebbers opened #911 "DolphinContext.destroy() should be called on client session timeout."
DolphinContext.destroy() should be called on client session timeout.

[2018-05-28 07:29] joha78 opened #912 "In JavaScript client: Model modifications will be received in the wrong Controller?"
Aktuellste Version mit "dynamische (client managed) Realm" aktiviert.

Wenn vom Server etwas vom Client gesendet wird, dann kommt es im Client in der falschen View raus.

Das führt zu solchen Meldungen:
2018-05-28 01:48:33.766 [ERROR] RemotingController MAIN_VIEW_CONTROLLER Bean not found in model! {destinationCity: “Rom”, departureCity: “Hamburg”, …..

Das Merkwürdige daran, die Daten die angebli

[2018-05-29 10:54] hendrikebbers commented on #912
This issue was moved to rico-project/rico#2

[2018-05-29 10:54] #912 closed

[2018-05-29 10:54] hendrikebbers commented on #198
This issue was moved to rico-project/rico#3

[2018-05-29 10:54] #198 closed

[2018-05-29 10:55] hendrikebbers commented on #911
This issue was moved to rico-project/rico#4

[2018-05-29 10:55] #911 closed

[2018-05-29 10:55] hendrikebbers commented on #910
This issue was moved to rico-project/rico#5

[2018-05-29 10:55] #910 closed

[2018-05-29 10:55] hendrikebbers commented on #909
This issue was moved to rico-project/rico#6

[2018-05-29 10:55] #909 closed

[2018-05-29 10:56] hendrikebbers commented on #908
This issue was moved to rico-project/rico#7

[2018-05-29 10:56] #908 closed

[2018-05-29 10:56] hendrikebbers commented on #895
This issue was moved to rico-project/rico#8

[2018-05-29 10:56] #895 closed

[2018-05-29 10:56] hendrikebbers commented on #894
This issue was moved to rico-project/rico#9

[2018-05-29 10:56] #894 closed

[2018-05-29 10:56] hendrikebbers commented on #889
This issue was moved to rico-project/rico#10

[2018-05-29 10:56] #889 closed

[2018-05-29 10:56] hendrikebbers commented on #908
This issue was moved to rico-project/rico#11

[2018-07-08 23:33] ghostidentity commented on #831
Hi, some update on how to use js client ?

[2018-07-09 07:29] ghostidentity opened #913 "AngularJS Integration [cant execute controller methods]"
Hi guys,

Greetings! Im having an issue on setting up angular JS.  I already added the dependencies and there's notification on browser that opendolphin successfully executed.

However, there was no response on the html side when attempting to execute the methods in controller. My initial thought that when someone click on button that bound to execute angular method, it should run the method on th

[2018-07-09 12:28] halimpuckjava opened #914 "dolphin platform http client with spring webflux"
hi

i use spring webflux and i just want to know how to deserialize Flux or Mono in dolphin javafx client (an exception is appear when try to deserialize objects in collections (Flux, List, .....) : Exception in thread "pool-1-thread-1" java.lang.ClassCastException: com.google.gson.internal.LinkedTreeMap cannot be cast to xxxx

[2018-10-04 19:33] ptella commented on #814
Can I claim this issue?

[2019-10-12 07:33] dhrubo55 commented on #661
can i work on this issue